<a href="https://colab.research.google.com/github/dikoharyadhanto/Python_Basic_Documentation/blob/main/Basic_Programming_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pengenalan**

In [ ]:
print ("Haloo Dunia")
print ("Apa Kabar")
print ("Haloo Dunia, Apa Kabar?")

Haloo Dunia
Apa Kabar
Haloo Dunia, Apa Kabar?

Kita bisa mengcompile python kedalam bentuk yang namanya bytecode.

Cara mengcompile:
- Buka terminal
- Tuliskan `python -m py._compile (nama file).py`

## **Comment**

In [ ]:
# ini adalah comment

a = 10 # ini adalah comment juga

'''
ini adalah comment 
kamu bisa menuliskan keterangan apapun disini
karena tidak akan mempengaruhi hasil
'''

print (a)

10

## **Variables & Literals**

In [ ]:
# Variables & Literals
bilangan1 = 5
bilangan2 = 10
kalimat1 = "Belajar Bahasa Python"

In [ ]:
a = 10, # a adalah variabel dengan nilai literals 10

In [ ]:
bil1, bil2 = 3, 4
salam, penutup = "Selamat Pagi", "Salam Sejahtera"

print(bil1)
print(penutup)

3
Salam Sejahtera

## **Statement**

In [ ]:
# Statement
print("Belajar Python menyenangkan") 
print("Halo Dunia")
print("Hello World!")

Belajar Python menyenangkan
Halo Dunia
Hello World!

In [ ]:
#Pencetakan (statements)
print("angka dari bilangan1 adalah ", bilangan1)
print("angka dari bilangan2 adalah ", bilangan2)

print("Riset Bahasa Python")

angka dari bilangan1 adalah  5
angka dari bilangan2 adalah  10
Riset Bahasa Python

# **Struktur Program**

In [ ]:
bilangan1 = 20
bilangan2 = 10
hasil     = bilangan1 - bilangan2
print(hasil)

10

In [ ]:
bilangan1 = 20
bilangan2 = 10
print(bilangan1 - bilangan2)

10

In [ ]:
harga_asli = 20000
potongan = 2000
harga_setelah_potongan = harga_asli - potongan
harga_final = harga_setelah_potongan*1.1

#Pencetakkan
print("Harga Setelah Potongan = ", harga_setelah_potongan)
print("Harga Total = ", harga_final)

Harga Setelah Potongan =  18000
Harga Total =  19800.0

# **Tipe Data**

## **Integer**

In [ ]:
# tipe data : Angka Satuan (Integer)
data_integer = 1
print("data_integer = ",data_integer, ", type = ", type(data_integer))

data_integer =  1 , type =  <class 'int'>

## **Float**

In [ ]:
# tipe data : Angka desimal (Float)
data_float = 1.5
print("data_float = ",data_float, ", type = ", type(data_float))

data_float =  1.5 , type =  <class 'float'>

## **String**

In [ ]:
# tipe data : kumpulan karakter (string)
data_string = "Diko Hary Adhanto"
print("data_string = ",data_string, ", type = ", type(data_string))
data_string = 1.5
print("data_string = ",data_string, ", type = ", type(str(data_string)))

data_string =  Diko Hary Adhanto , type =  <class 'str'>
data_string =  1.5 , type =  <class 'str'>

## **Boolean**

In [ ]:
# tipe data : biner true/false (boolean)
data_boolean = True
print("data_boolean = ",data_boolean, ", type = ", type(data_boolean))
data_boolean = False
print("data_boolean = ",data_boolean, ", type = ", type(data_boolean))

data_boolean =  True , type =  <class 'bool'>
data_boolean =  False , type =  <class 'bool'>

## **Tipe Data Khusus**

### **Bilangan Kompleks**

In [ ]:
# bilangan kompleks
data_complex = complex(5,6)
print("data_complex = ",data_complex, ", type = ", type(data_complex))

data_complex =  (5+6j) , type =  <class 'complex'>

### **Tipe Data dari Bahasa C**

In [ ]:
# tipe data dari bahasa C
from ctypes import c_double

Kita import dulu dari Bahasa C dengan menggunakan `from ctypes`. 

`c_double`yang lebih panjang dari `float`

In [ ]:
data_c_double = c_double(10.5)
print("data_c_double = ", data_c_double, ", type = ", type(data_c_double))

data_c_double =  c_double(10.5) , type =  <class 'ctypes.c_double'>

# **Melakukan Casting Tipe Data**

Maksudnya mengubah dari satu tipe data ke tipe data lainnya.

## **Integer**

In [ ]:
#INTEGER
data_int = 9;
print("data = ", data_int, ", type data = ", type(data_int))

data =  9 , type data =  <class 'int'>

In [ ]:
#Integer ==> Float
data_float = float(data_int)
print("data = ", data_float, ", type data = ", type(data_float))

data =  9.0 , type data =  <class 'float'>

In [ ]:
#Integer ==> String
data_str = str(data_int)
print("data = ", data_str, ", type data = ", type(data_str))

data =  9 , type data =  <class 'str'>

In [ ]:
#Integer ==> Boolean
data_bool = bool(data_int)
print("data = ", data_bool, ", type data = ", type(data_bool)) #Nilai selain dari 0 akan menjadi True

data =  True , type data =  <class 'bool'>

## **Float**

In [ ]:
#FLOAT
data_float = 9.6;
print("data = ", data_float, ", type data = ", type(data_float))

data =  9.6 , type data =  <class 'float'>

In [ ]:
#Float ==> Integer
data_int = int(data_float)
print("data = ", data_int, ", type data = ", type(data_int)) #akan dibulatkan ke bawah

data =  9 , type data =  <class 'int'>

In [ ]:
#Float ==> String
data_str = str(data_float)
print("data = ", data_str, ", type data = ", type(data_str))

data =  9.6 , type data =  <class 'str'>

In [ ]:
#Float ==> Boolean
data_bool = bool(data_float)
print("data = ", data_bool, ", type data = ", type(data_bool)) #Nilai selain dari 0 akan menjadi True

data =  True , type data =  <class 'bool'>

## **Boolean**

In [ ]:
#BOOLEAN
data_bool = True;
print("data = ", data_bool, ", type data = ", type(data_bool))

data =  True , type data =  <class 'bool'>

In [ ]:
#Boolean ==> Integer
data_int = int(data_bool)
print("data = ", data_int, ", type data = ", type(data_int)) #akan dibulatkan ke bawah

data =  1 , type data =  <class 'int'>

In [ ]:
#Boolean ==> String
data_str = str(data_bool)
print("data = ", data_str, ", type data = ", type(data_str))

data =  True , type data =  <class 'str'>

In [ ]:
#Boolean ==> Float
data_float = float(data_bool)
print("data = ", data_float, ", type data = ", type(data_float)) #Nilai selain dari 0 akan menjadi True

data =  1.0 , type data =  <class 'float'>

## **String**

In [ ]:
#STRING
data_str = "10";
print("data = ", data_str, ", type data = ", type(data_str))

data =  10 , type data =  <class 'str'>

In [ ]:
#String ==> Integer
data_int = int(data_str)
print("data = ", data_int, ", type data = ", type(data_int)) #akan dibulatkan ke bawah

data =  10 , type data =  <class 'int'>

In [ ]:
#String ==> Boolean
data_bool = bool(data_str)
print("data = ", data_bool, ", type data = ", type(data_bool))

data =  True , type data =  <class 'bool'>

In [ ]:
#String ==> Float
data_float = float(data_str)
print("data = ", data_float, ", type data = ", type(data_float)) #Nilai selain dari 0 akan menjadi True

data =  10.0 , type data =  <class 'float'>

# **Input Data**

Dalam Input Data, data yang ingin kita masukkan pasti akan dalam bentuk `string` tipe datanya

In [ ]:
# Data yang dimasukkan pasti string
data = input("Masukkan data: ")
print("Data yang kamu masukkan adalah ", data, ", type = ", type(data))

Masukkan data: 12
Data yang kamu masukkan adalah  12 , type =  <class 'str'>

Jika kita ingin mengambil data `float`, misalnya, maka:

In [ ]:
angka = float(input("Masukkan angka: "))
print("Angka yang kamu masukkan adalah ", angka, ", type = ", type(angka))

Masukkan angka: 12
Angka yang kamu masukkan adalah  12.0 , type =  <class 'float'>

atau dengan data `int`, maka:

In [ ]:
angka = int(input("Masukkan angka: "))
print("Angka yang kamu masukkan adalah ", angka, ", type = ", type(angka))

Masukkan angka: 12
Angka yang kamu masukkan adalah  12 , type =  <class 'int'>

Bagaimana dengan `Bool`?

In [ ]:
biner = bool(input("Masukkan nilai: "))
print("Nilai yang kamu masukkan adalah ", biner, ", type = ", type(biner))

Masukkan nilai: 12
Nilai yang kamu masukkan adalah  True , type =  <class 'bool'>

# **Operasi Matematika**

## **Operator**

In [ ]:
a = 10
b = 3

### **Operasi Tambah (+)**

In [ ]:
# operasi tambah +
hasil = a + b
print(a, '+', b, '=', hasil)

10 + 3 = 13

### **Operasi Kurang (-)**

In [ ]:
# operasi kurang -
hasil = a - b
print(a, '-', b, '=', hasil)

10 - 3 = 7

### **Operasi Perkalian (*)**

In [ ]:
# operasi perkaiian *
hasil = a * b
print(a, '*', b, '=', hasil)

10 * 3 = 30

### **Operasi Pembagian (/)**

In [ ]:
# operasi pembagian /
hasil = a / b
print(a, '/', b, '=', hasil)

10 / 3 = 3.3333333333333335

### **Operasi Eksponen (* *)**

In [ ]:
# operasi eksponen (pangkat) **
hasil = a ** b
print(a, '**', b, '=', hasil)

10 ** 3 = 1000

### **Operasi Modulus (%)**

In [ ]:
# operasi modulus %
hasil = a / b
print(a, '%', b, '=', hasil)

10 % 3 = 3.3333333333333335

### **Operasi Floor Division (//)**

In [ ]:
# operasi floor division //
hasil = a // b
print(a, '//', b, '=', hasil)

10 // 3 = 3

Prioritas Operasi (Operational Precedence):
1. Operasi dengan tanda kurung
2. Eksponen
3. Perkalian, Pembagian, Modulus, Floor Division
4. Pertambahan dan Pengurangan

In [ ]:
x = 3
y = 2
z = 4

In [ ]:
hasil = x ** y * z + x / y - y % z // x
print(x, '**', y, '*', z, '+', x, '/', y, '-', y, '%', z, '//', x, '=', hasil)

3 ** 2 * 4 + 3 / 2 - 2 % 4 // 3 = 37.5

In [ ]:
hasil = x + y * z
print(x, '+', y, '*', z, '=', hasil)

3 + 2 * 4 = 11

In [ ]:
#kurung akan mengambil langkah pertama
hasil = (x + y) * z
print('(', x, '+', y,')', '*', z, '=', hasil)

( 3 + 2 ) * 4 = 20

## **Operasi Komparasi**

Setiap hasil dari operasi komparasi adalah Boolean

In [ ]:
a = 4
b = 2

### **Lebih Besar dari (>)**

In [ ]:
# lebih besar dari >
hasil = a > 3
print (a, ">", 3, "=", hasil)
hasil = b > 3
print (b, ">", 3, "=", hasil)
hasil = b > 2
print (b, ">", 2, "=", hasil)

4 > 3 = True
2 > 3 = False
2 > 2 = False

### **Kurang Dari (<)**

In [ ]:
# kurang dari <
hasil = a < 3
print (a, "<", 3, "=", hasil)
hasil = b < 3
print (b, "<", 3, "=", hasil)
hasil = b < 2
print (b, "<", 2, "=", hasil)

4 < 3 = False
2 < 3 = True
2 < 2 = False

### **Lebih Dari Sama Dengan (>=)**

In [ ]:
# lebih dari sama dengan >=
hasil = a >= 3
print (a, ">=", 3, "=", hasil)
hasil = b >= 3
print (b, ">=", 3, "=", hasil)
hasil = b >= 2
print (b, ">=", 2, "=", hasil)

4 >= 3 = True
2 >= 3 = False
2 >= 2 = True

### **Kurang Dari Sama Dengan (<=)**

In [ ]:
# kurang dari sama dengan <=
hasil = a <= 3
print (a, "<=", 3, "=", hasil)
hasil = b <= 3
print (b, "<=", 3, "=", hasil)
hasil = b <= 2
print (b, "<=", 2, "=", hasil)

4 <= 3 = False
2 <= 3 = True
2 <= 2 = True

### **Sama Dengan (=)**

In [ ]:
# sama dengan ==
hasil = a == 3
print (a, "==", 3, "=", hasil)
hasil = b == 3
print (b, "==", 3, "=", hasil)
hasil = b == 2
print (b, "==", 2, "=", hasil)

4 == 3 = False
2 == 3 = False
2 == 2 = True

### **Tidak Sama Dengan (!=)**

In [ ]:
# Tidak sama dengan !=
hasil = a != 3
print (a, "!=", 3, "=", hasil)
hasil = b != 3
print (b, "!=", 3, "=", hasil)
hasil = b != 2
print (b, "!=", 2, "=", hasil)

4 != 3 = True
2 != 3 = True
2 != 2 = False

### **is**

In [ ]:
# is 
hasil = a is b
print (a, "is", 3, "=", hasil)

4 is 3 = False

### **is not**

In [ ]:
# is not
hasil = a is not b
print (a, "is not", 3, "=", hasil)

4 is not 3 = True

# **Latihan Konversi Satuan Suhu Dengan Penerapan Input Data dan Operasi Matematika**

## **Celcius ke Satuan lain**

In [ ]:
C = float(input("Masukan nilai suhunya = "))

#Celcius
print("Nilai suhu dalam celcius adalah = ", C, "C")

#Fahrenheit
F = ((9/5) * C) + 32
print("Nilai suhu dalam fahrenheit adalah = ", F, "F")

#Reamur
R = ((4/5) * C)
print("Nilai suhu dalam Reamur adalah = ", R, "R")

#Kelvin
K = C + 273
print("Nilai suhu dalam Kelvin adalah = ", K, "K")

Masukan nilai suhunya = 12
Nilai suhu dalam celcius adalah =  12.0 C
Nilai suhu dalam fahrenheit adalah =  53.6 F
Nilai suhu dalam Reamur adalah =  9.600000000000001 R
Nilai suhu dalam Kelvin adalah =  285.0 K

## **Fahrenheit ke Satuan lain**

In [ ]:
F = float(input("Masukan nilai suhunya = "))

#Fahrenheit
print("Nilai suhu dalam fahrenheit adalah = ", F, "F")

#Celcius
C = (5/9) * (F - 32)
print("Nilai suhu dalam Celcius adalah = ", C, "C")

#Reamur
R = (4/9) * (F-32)
print("Nilai suhu dalam Reamur adalah = ", R, "R")

#Kelvin
K = ((5/9) * (F - 32)) + 273 
print("Nilai suhu dalam Kelvin adalah = ", K, "K")

Masukan nilai suhunya = 12
Nilai suhu dalam fahrenheit adalah =  12.0 F
Nilai suhu dalam Celcius adalah =  -11.11111111111111 C
Nilai suhu dalam Reamur adalah =  -8.88888888888889 R
Nilai suhu dalam Kelvin adalah =  261.8888888888889 K

## **Kelvin ke Satuan Lain**

In [ ]:
K = float(input("Masukan nilai suhunya = "))

#Kelvin
print("Nilai suhu dalam Kelvin adalah = ", K, "K")

#Celcius
C = K - 273
print("Nilai suhu dalam Celcius adalah = ", C, "C")

#Reamur
R = (4/5) * (K - 273)
print("Nilai suhu dalam Reamur adalah = ", R, "R")

#Fahrenheit
F = ((9/5) * (K-273)) + 32
print("Nilai suhu dalam Fahrenheit adalah = ", F, "F")

Masukan nilai suhunya = 276
Nilai suhu dalam Kelvin adalah =  276.0 K
Nilai suhu dalam Celcius adalah =  3.0 C
Nilai suhu dalam Reamur adalah =  2.4000000000000004 R
Nilai suhu dalam Fahrenheit adalah =  37.4 F

# **Operasi Logika**

## **NOT**

In [ ]:
# NOT
a = False
c = not a
print("jika nilai a = False, maka data a = ", a)
print("jika nilai a = False, maka data not a = ", c)

jika nilai a = False, maka data a =  False
jika nilai a = False, maka data not a =  True

## **OR**

In [ ]:
# OR
a = True
c = True
hasil = a or c
print(a, "OR", c, "= ", hasil)

a = True
c = False
hasil = a or c
print(a, "OR", c, "= ", hasil)

a = False
c = True
hasil = a or c
print(a, "OR", c, "= ", hasil)

a = False
c = False
hasil = a or c
print(a, "OR", c, "= ", hasil)

True OR True =  True
True OR False =  True
False OR True =  True
False OR False =  False

## **AND**

In [ ]:
# AND
a = True
c = True
hasil = a and c
print(a, "AND", c, "= ", hasil)

a = True
c = False
hasil = a and c
print(a, "AND", c, "= ", hasil)

a = False
c = True
hasil = a and c
print(a, "AND", c, "= ", hasil)

a = False
c = False
hasil = a and c
print(a, "AND", c, "= ", hasil)

True AND True =  True
True AND False =  False
False AND True =  False
False AND False =  False

## **XOR**

In [ ]:
# XOR
a = True
c = True
hasil = a ^ c
print(a, "XOR", c, "= ", hasil)

a = True
c = False
hasil = a ^ c
print(a, "XOR", c, "= ", hasil)

a = False
c = True
hasil = a ^ c
print(a, "XOR", c, "= ", hasil)

a = False
c = False
hasil = a ^ c
print(a, "XOR", c, "= ", hasil)

True XOR True =  False
True XOR False =  True
False XOR True =  True
False XOR False =  False

# **Latihan Logika dan Komparasi: Membuat Gabungan Area Rentang Dari Angka**

## **Kurang dari 3 ATAU Lebih dari 10**

In [ ]:
# +++++ 3 ----- 10 +++++

InputUser = float(input("Masukkan angka \nkurang dari 3 \natau \nlebih dari 10 \n= "))

a = InputUser < 3
print(InputUser, "<", 3, "= ", a)

b = InputUser > 10
print(InputUser, ">", 10, "= ", b)

Hasil = a or b
print("Nilai", InputUser, "dengan syarat kurang dari 3 lebih dari 10 adalah", Hasil)

Masukkan angka
kurang dari 3
atau
lebih dari 10
= 12
12.0 < 3 =  False
12.0 > 10 =  True
Nilai 12.0 dengan syarat kurang dari 3 lebih dari 10 adalah True

## **Lebih Dari 3 DAN Kurang Dari 10**

In [ ]:
# ----- 3 +++++ 10 -----
InputUser = float(input("Masukkan angka \nlebih dari 3 \ndan \nkurang dari 10 \n= "))

a = InputUser > 3
print(InputUser, ">", 3, "= ", a)

b = InputUser < 10
print(InputUser, "<", 10, "= ", b)

Hasil = a and b
print("Nilai", InputUser, "dengan syarat antara 3 dan 10 adalah", Hasil)

Masukkan angka
lebih dari 3
dan
kurang dari 10
= 14
14.0 > 3 =  True
14.0 < 10 =  False
Nilai 14.0 dengan syarat antara 3 dan 10 adalah False

## **Lebih dari 0 DAN Kurang Dari 5 ATAU Lebih dari 8 DAN Kurang Dari 11**

In [ ]:
# ----- 0 +++++ 5 ----- 8 +++++ 11 -----
InputUser = float(input("Masukkan angka \nlebih dari 0 dan kurang dari 5 \natau \nlebih dari 8 dan kurang dari 11 \n= "))
a = InputUser > 0
b = InputUser < 5
hasil1 = a and b
c = InputUser > 8
d = InputUser < 11
hasil2 = c and b
hasil = hasil1 or hasil2
print("Nilai dari ", InputUser, "\nsyarat: \n- lebih dari 0 dan kurang dari 5 \natau \n- lebih dari 8 dan kurang dari 11 \nadalah ", hasil)

Masukkan angka
lebih dari 0 dan kurang dari 5
atau
lebih dari 8 dan kurang dari 11
= 12
Nilai dari  12.0
syarat:
- lebih dari 0 dan kurang dari 5
atau
- lebih dari 8 dan kurang dari 11
adalah  False

## **Kurang dari 0 ATAU Lebih dari 5 DAN Kurang Dari 8 ATAU Lebih Dari 11**

In [ ]:
# +++++ 0 ----- 5 +++++ 8 ----- 11 +++++
InputUser = float(input("Masukkan angka \nkurang dari 0 \natau \nlebih dari 5 dan kurang dari 8 \natau \nlebihdari 11 \n= "))
a = InputUser < 0
hasil1 = a
b = InputUser > 5
c = InputUser < 8
hasil2 = b and c
d = InputUser > 11
hasil3 = d
hasil = hasil1 or hasil2 or hasil3
print("Nilai dari ", InputUser, "\nsyarat: \n- kurang dari 0 \natau \n- lebih dari 5 dan kurang dari 8 \natau \n- lebih dari 11 \nadalah ", hasil)

Masukkan angka
kurang dari 0
atau
lebih dari 5 dan kurang dari 8
atau
lebihdari 11
= 12
Nilai dari  12.0
syarat:
- kurang dari 0
atau
- lebih dari 5 dan kurang dari 8
atau
- lebih dari 11
adalah  True

# **Operasi Assignment**

## **Tambah**

In [ ]:
a = 5 # adalah assignment

# Tambah
a += 1 #maksudnya adalah a = a + 1
print("nilai a += 1, nilai a menjadi ", a)

nilai a += 1, nilai a menjadi  6

## **Kurang**

In [ ]:
# Kurang
a -= 1 #maksudnya adalah a = a - 1
print("nilai a -= 1, nilai a menjadi ", a)

nilai a -= 1, nilai a menjadi  5

## **Kurang**

In [ ]:
# Kali
a *= 1 #maksudnya adalah a = a * 1
print("nilai a *= 1, nilai a menjadi ", a)

nilai a *= 1, nilai a menjadi  5

## **Bagi**

In [ ]:
# Bagi
a /= 1 #maksudnya adalah a = a / 1
print("nilai a /= 1, nilai a menjadi ", a)

nilai a /= 1, nilai a menjadi  5.0

## **Modulus**

In [ ]:
b = 10
print("\nnilai b adalah ", b)

# Modulus
b %= 3 #maksudnya adalah b = b % 1
print("nilai b %= 3 adalah ", b)

nilai b adalah  10
nilai b %= 3 adalah  1

## **Floor Division**

In [ ]:
b = 10
print("\nnilai b adalah ", b)

# floor division
b //= 3 #maksudnya adalah b = b // 1
print("nilai b //= 3 adalah ", b)

nilai b adalah  10
nilai b //= 3 adalah  3

## **Pangkat**

In [ ]:
a = 5
print("\nnilai a adalah ", a)

# Pangkat
a **= 3 #maksudnya adalah a = a ** 1
print("nilai a **= 3 adalah ", a)

nilai a adalah  5
nilai a **= 3 adalah  125

## **OR**

In [ ]:
#Operasi bitwise
c = True
print("\nnilai c adalah ", c)

# OR
c |= False #maksudnya adalah c = c or False
print("nilai c |= False adalah ", c)

nilai c adalah  True
nilai c |= False adalah  True

## **AND**

In [ ]:
c = True
print("\nnilai c adalah ", c)

# AND
c &= False #maksudnya adalah c = c AND False
print("nilai c &= False adalah ", c)

nilai c adalah  True
nilai c &= False adalah  False

## **XOR**

In [ ]:
c = True
print("\nnilai c adalah ", c)

# XOR
c ^= False #maksudnya adalah c = c XOR False
print("nilai c ^= False adalah ", c)

nilai c adalah  True
nilai c ^= False adalah  True

# **List**

## **Mengakses List**

In [ ]:
#Mengakses list
contoh_list = [1,'dua',3,4.0,5]
print('Data List urutan ke-0 = ', contoh_list[0])
print('Data list urutan ke-3 = ', contoh_list[3])

Data List urutan ke-0 =  1
Data list urutan ke-3 =  4.0

In [ ]:
Data = [24, 6, 89, 23, 45]
Data2 = [1, 2, 3, 5, 7, 8, 9]
print("Data = ", Data) 

# Mengakses List
Subdata = Data[0] #Pada Python, angka pertama dimulai dengan urutan ke-0
print("Data[0] = ", Subdata)
Subdata2 = Data[-3] #Bakal hitung mundur ke belakang 
print("Data[-3] = ", Subdata2)

Data =  [24, 6, 89, 23, 45]
Data[0] =  24
Data[-3] =  89

## **Mengubah Data dalam List**

In [ ]:
#Mengubah data dalam list
contoh_list = [1,'dua',3,4.0,5]
print('Data urutan ke-3 sebelum diubah = ', contoh_list[3])
print('list sebelum diubah = ', contoh_list)
contoh_list[3] = 'empat' # data diubah dari awalnya 4.0 menjadi 'empat
print('Data urutan ke-3 setelah diubah = ', contoh_list[3])
print('list setelah diubah = ', contoh_list)

Data urutan ke-3 sebelum diubah =  4.0
list sebelum diubah =  [1, 'dua', 3, 4.0, 5]
Data urutan ke-3 setelah diubah =  empat
list setelah diubah =  [1, 'dua', 3, 'empat', 5]

In [ ]:
# Mengubah Data dalam list
Data = [24, 6, 89, 23, 45]
Data2 = [1, 2, 3, 5, 7, 8, 9]
print("Data =", Data)
Data[1] = 56 #dia mengubah data ke-1 yang awalnya adalah 6 menjadi 56
print("Data =", Data)

Data = [24, 6, 89, 23, 45]
Data = [24, 56, 89, 23, 45]

**HATI-HATI!! APABILA:**

In [ ]:
Data = [24, 6, 89, 23, 45]
a = Data
print("a = ", a)
a[2] = 56
print("a[2] = ", a)
print("Data = ", Data)

a =  [24, 6, 89, 23, 45]
a[2] =  [24, 6, 56, 23, 45]
Data =  [24, 6, 56, 23, 45]

Jika `a = Data`, maka ketika salah satu elemen dari list `a` diubah, maka juga akan berpengaruh pada list `Data`. Karena a didefinisikan sebagai Data, maka list a dengan Data saling terkait. Mereka sharing Content

**Cara Mengatasinya:**

In [ ]:
Data = [24, 6, 89, 23, 45]
a = Data[:] #Dengan menambahkan titik dua, sehingga ketika print Data, Data tidak akan berubah jika list a diubah
print("a = ", a)
a[2] = 56
print("a[2] = ", a)
print("Data = ", Data)

a =  [24, 6, 89, 23, 45]
a[2] =  [24, 6, 56, 23, 45]
Data =  [24, 6, 89, 23, 45]

## **Memotong Urutan List**

In [ ]:
#Memotong urutan list
contoh_list = [1,'dua',3,4.0,5]
print('list = ', contoh_list)
contoh_list2 = contoh_list[0:3]
print('list hanya urutan 0 - 3 = ', contoh_list2)

list =  [1, 'dua', 3, 4.0, 5]
list hanya urutan 0 - 3 =  [1, 'dua', 3]

In [ ]:
Data = [24, 6, 89, 23, 45]
Data2 = [1, 2, 3, 5, 7, 8, 9]
print("Data = ", Data) 

# Memotong List
Subdata3 = Data[0:3] #urutan 0 sampe sebelum 3, berarti sampe urutan ke-2 maksudnya
print("Data[0:3] = ",Subdata3)
Subdata4 = Data[:2] #dari pojok pertama sampe ke satu angka sebelum urutan ke-n
print("Data[:2] = ",Subdata4)
Subdata5 = Data[2:] #dari urutan ke-n sampe ke paling pojok terakhir
print("Data[2:] = ",Subdata5)

Data =  [24, 6, 89, 23, 45]
Data[0:3] =  [24, 6, 89]
Data[:2] =  [24, 6]
Data[2:] =  [89, 23, 45]

## **Menggabungkan Data Dalam List**

In [ ]:
#Menggabungkan data dalam list
Data1 = [1, 2, 3, 4, 5]
print('Data 1 = ', Data1)
Data2 = [10, 9, 8, 7, 6, 5]
print('Data 2 = ', Data2)
Data_Total = Data1 + Data2
print("Data Total = ", Data_Total)

Data 1 =  [1, 2, 3, 4, 5]
Data 2 =  [10, 9, 8, 7, 6, 5]
Data Total =  [1, 2, 3, 4, 5, 10, 9, 8, 7, 6, 5]

In [ ]:
Data = [24, 6, 89, 23, 45]
Data2 = [1, 2, 3, 5, 7, 8, 9]
print("Data = ", Data) 

# Menambah List 
Data_total = Data + Data2 #akan menambahkan list Data dan Data2, tidak peduli urutan.
print("\nData Total:\n", Data_total)

#Bisa juga pake method untuk menambahkan data
Data.append(Data2)
print("\nData Total (Append):\n", Data)

Data =  [24, 6, 89, 23, 45]

Data Total:
 [24, 6, 89, 23, 45, 1, 2, 3, 5, 7, 8, 9]

Data Total (Append):
 [24, 6, 89, 23, 45, [1, 2, 3, 5, 7, 8, 9]]

## **Menggunakan Append Method Untuk Menggabungkan Data**

In [ ]:
#Menggunakan append method untuk menggabungkan data
Data1 = [1, 2, 3, 4, 5]
print('Data 1 = ', Data1)
Data2 = [10, 9, 8, 7, 6, 5]
print('Data 2 = ', Data2)
Data1.append(Data2)
print("Data1 = ", Data1)

Data 1 =  [1, 2, 3, 4, 5]
Data 2 =  [10, 9, 8, 7, 6, 5]
Data1 =  [1, 2, 3, 4, 5, [10, 9, 8, 7, 6, 5]]

## **Mengubah Lebih Dari Satu Data Dalam List**

In [ ]:
#Mengubah lebih dari satu data dalam list
contoh_list = [1,'dua',3,4.0,5]
print('list sebelum diubah = ', contoh_list)
contoh_list[3:4] = ['empat', 'nol'] # data urutan ke-3 dan ke-4 diubah secara bersamaan
print('list setelah diubah = ', contoh_list)

list sebelum diubah =  [1, 'dua', 3, 4.0, 5]
list setelah diubah =  [1, 'dua', 3, 'empat', 'nol', 5]

In [ ]:
# Merubah Content List Dengan Metode Slicing
Data = [24, 6, 89, 23, 45]
print("Data sebelum = ", Data)
Data[2:4] = [23,27]
print("Data Sesudah = ", Data)

Data sebelum =  [24, 6, 89, 23, 45]
Data Sesudah =  [24, 6, 23, 27, 45]

## **Menggabungkan Dua List dalam Satu List Gabungan**

In [ ]:
#Menggabungkan dua list dalam satu list gabungan
Data1 = [1, 2, 3, 4, 5]
print('Data 1 = ', Data1)
Data2 = [10, 9, 8, 7, 6, 5]
print('Data 2 = ', Data2)
List_Gabungan = [Data1, Data2] #multidimensional list 
print("List Gabungan = ", List_Gabungan)

Data 1 =  [1, 2, 3, 4, 5]
Data 2 =  [10, 9, 8, 7, 6, 5]
List Gabungan =  [[1, 2, 3, 4, 5], [10, 9, 8, 7, 6, 5]]

Ada dua list, list Data merupakan urutan list ke 0, 
sedangkan list Data2 merupakan urutan list ke 1

In [ ]:
# List Dalam List
Data = [24, 6, 89, 23, 45]
Data2 = [1, 2, 3, 5, 7, 8, 9]
x = [Data, Data2] 
print("x = ", x)

x =  [[24, 6, 89, 23, 45], [1, 2, 3, 5, 7, 8, 9]]

## **Mengakses List Dalam Multidimensional List**

In [ ]:
Data1 = [1, 2, 3, 4, 5]
print('Data 1 = ', Data1)
Data2 = [10, 9, 8, 7, 6, 5]
print('Data 2 = ', Data2)
List_Gabungan = [Data1, Data2]

#Mengakses list dalam mulitidimensional list
Akses_Data = List_Gabungan [0][3]
print("Nilai yang berada di list 0 (Data) urutan ke-3 adalah ", Akses_Data)

Data 1 =  [1, 2, 3, 4, 5]
Data 2 =  [10, 9, 8, 7, 6, 5]
Nilai yang berada di list 0 (Data) urutan ke-3 adalah  4

In [ ]:
Data = [24, 6, 89, 23, 45]
Data2 = [1, 2, 3, 5, 7, 8, 9]
x = [Data, Data2] 

#Mengakses list dalam multidimensional list
y = x[0][3]
print("Nilai yang berada di list 0 (Data) urutan ke-3 adalah ", y)

Nilai yang berada di list 0 (Data) urutan ke-3 adalah  23

## **Menghitung Panjang List**

In [ ]:
#Mengitung panjang list
contoh_list = [1,'dua',3,4.0,5]
print("List = ", contoh_list)
panjang_list = len(contoh_list)
print('Banyaknya data dalam list adalah = ', panjang_list)

List =  [1, 'dua', 3, 4.0, 5]
Banyaknya data dalam list adalah =  5

In [ ]:
#Menghitung Panjang List
Data = [24, 6, 89, 23, 45]
panjang_list = len(Data)
print("panjang list Data adalah ", panjang_list)

panjang list Data adalah  5

# **Manipulasi List**

## **Fitur .append()**

In [ ]:
# Fitur .append()
print(">>> Fitur .append()")
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
print("List Sebelum: ", list_makanan)
list_makanan.append('Ketoprak')
print("List Sesudah: ", list_makanan)

>>> Fitur .append()
List Sebelum:  ['Gado-gado', 'Ayam Goreng', 'Rendang']
List Sesudah:  ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

## **Fitur .clear()**

In [ ]:
# Fitur .clear()
print(">>> Fitur .clear()")
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
print("List Sebelum: ", list_makanan)
list_makanan.clear()
print("List Sesudah: ", list_makanan)

>>> Fitur .clear()
List Sebelum:  ['Gado-gado', 'Ayam Goreng', 'Rendang']
List Sesudah:  []

## **Fitur .copy()**

In [ ]:
#Fitur .copy()
list_makanan1 = ['Gado-gado', 'Ayam Goreng', 'Rendang']

In [ ]:
#Dengan copy
list_makanan2 = list_makanan1.copy()
list_makanan2.append('Opor')
print("list_makanan2: ", list_makanan2)
print("list_makanan1: ", list_makanan1)

list_makanan2:  ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Opor']
list_makanan1:  ['Gado-gado', 'Ayam Goreng', 'Rendang']

In [ ]:
#Tanpa Copy
list_makanan3 = list_makanan1
list_makanan3.append('Ketoprak')
print("list_makanan3: ", list_makanan3)
print("list_makanan1: ", list_makanan1)

list_makanan3:  ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_makanan1:  ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

## **Fitur .count()**

In [ ]:
# Fitur .count()
print(">>> Fitur .count()")
list_score = ['Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud']
print(list_score)
score_budi = list_score.count('Budi')
score_sud = list_score.count('Sud')
print("Jumlah kemunculan kata 'Budi': ", score_budi) 
print("Jumlah kemunculan kata 'Sud': ", score_sud)

>>> Fitur .count()
['Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud']
Jumlah kemunculan kata 'Budi':  4
Jumlah kemunculan kata 'Sud':  3

## **Fitur .extend()**

In [ ]:
# Fitur .extend()
print(">>> Fitur .extend()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
print('list_menu: ', list_menu)
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
print('list_minuman: ', list_minuman)
list_menu.extend(list_minuman)
print('list_gabungan: ', list_menu)

>>> Fitur .extend()
list_menu:  ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman:  ['Es Teh', 'Es Jeruk', 'Es Campur']
list_gabungan:  ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

## **Fitur .index()**

In [ ]:
# Fitur .index()
print(">>> Fitur .index()")
list_score = ['Budi','Sud','Budi','Budi','Budi','Sud','Sud']
score_pertama_sud = list_score.index('Sud') + 1
print(score_pertama_sud)

>>> Fitur .index()
2

## **Fitur .insert()**

In [ ]:
# Fitur .insert()
print(">>> Fitur .insert()")
list_score = ['Budi','Sud','Budi','Budi','Sud']
print('list_sebelum : ', list_score)
list_score.insert(0, 'Sud')
print('list_sesudah: ', list_score)

>>> Fitur .insert()
list_sebelum :  ['Budi', 'Sud', 'Budi', 'Budi', 'Sud']
list_sesudah:  ['Sud', 'Budi', 'Sud', 'Budi', 'Budi', 'Sud']

## **Fitur .pop()**

In [ ]:
# Fitur .pop()
print(">>> Fitur .pop()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_menu.pop(1)
print(list_menu)

>>> Fitur .pop()
['Gado-gado', 'Rendang']

## **Fitur .remove()**

In [ ]:
# Fitur .remove()
print(">>> Fitur .remove()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
print('list sebelum dihapus: ', list_menu)
list_menu.remove('Rendang')
print('list setelah dihapus: ', list_menu)

>>> Fitur .remove()
list sebelum dihapus:  ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list setelah dihapus:  ['Gado-gado', 'Ayam Goreng', 'Ketoprak']

## **Fitur .reverse()**

In [ ]:
# Fitur .reverse()
print(">>> Fitur .reverse()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
print('List Normal: ', list_menu)
list_menu.reverse()
print('List Reverse: ', list_menu)

>>> Fitur .reverse()
List Normal:  ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
List Reverse:  ['Ketoprak', 'Rendang', 'Ayam Goreng', 'Gado-gado']

## **Fitur .sort()**

In [ ]:
# Fitur .sort()
print(">>> Fitur .sort()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.sort() # Default: Ascending
print('List Asc: ', list_menu) 
list_menu.sort(reverse=True)# Descending
print('List Dsc: ', list_menu)

>>> Fitur .sort()
List Asc:  ['Ayam Goreng', 'Gado-gado', 'Ketoprak', 'Rendang']
List Dsc:  ['Rendang', 'Ketoprak', 'Gado-gado', 'Ayam Goreng']

# **Stacking & Queueing**

stack itu ibarat kalo kita numpuk buku
pastii yang diambil yang gampang
yang paling atas dulu

queue itu ibarat kalo kek antrian restoran
jadi orang yg dateng pertama
trus ada antrian baru
nanti yang dapet barangnya pasti yg awal dateng
bukan yang paling akhir

## **Stacking**

In [ ]:
tumpukan = [1, 2, 3, 4, 5, 6, 7]
print(tumpukan)

#memasukkan data baru
tumpukan.append(8)
print('data masuk:', 8)
tumpukan.append(9)
print('data masuk:', 9)
print(tumpukan)
tumpukan.pop() #dia akan menghilangkan data tumpukan paling belakang (stacking)
print('data keluar:', 9)
print(tumpukan)

[1, 2, 3, 4, 5, 6, 7]
data masuk: 8
data masuk: 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
data keluar: 9
[1, 2, 3, 4, 5, 6, 7, 8]

## **Queueing**

Masalahnya di python build-in nya
tidak ada yang digunakan untuk antrian
tapi ada yang namanya module, mengimport
function dari source code lain

In [ ]:
#import module
from collections import deque

antrian = deque([1,2,3,4,5,6])
print(antrian)

#menambahkan data
antrian.append(7)
print('data masuk:', 7)
print(antrian)

antrian.append(8)
print('data masuk:', 8)
print(antrian)

#mengurangi antrian
out = antrian.popleft()
print('data keluar:', out)
print(antrian)

out = antrian.popleft()
print('data keluar:', out)
print(antrian)

out = antrian.popleft()
print('data keluar:', out)
print(antrian)

antrian.append(9)
print('data masuk:', 9)
print(antrian)

out = antrian.popleft()
print('data keluar:', out)
print(antrian)

deque([1, 2, 3, 4, 5, 6])
data masuk: 7
deque([1, 2, 3, 4, 5, 6, 7])
data masuk: 8
deque([1, 2, 3, 4, 5, 6, 7, 8])
data keluar: 1
deque([2, 3, 4, 5, 6, 7, 8])
data keluar: 2
deque([3, 4, 5, 6, 7, 8])
data keluar: 3
deque([4, 5, 6, 7, 8])
data masuk: 9
deque([4, 5, 6, 7, 8, 9])
data keluar: 4
deque([5, 6, 7, 8, 9])

# **Tuple**

Tuple berguna kalo kita punya data yang udah fixed atau gak bisa diubah nilainya

Kenapa? karena ternyata tuple lebih ringan untuk diproses dibandingkan tuple

In [ ]:
#List
Ganjil = [1,3,5,7,9]
print(Ganjil)
Ganjil[2] = 99
print(Ganjil)
Ganjil.append(11)
print(Ganjil)
Ganjil.remove(11)
print(Ganjil)

[1, 3, 5, 7, 9]
[1, 3, 99, 7, 9]
[1, 3, 99, 7, 9, 11]
[1, 3, 99, 7, 9]

In [ ]:
#Tuple
Genap = (2,4,6,8,10) #tidak bisa diubah dan ditambah nilainya
print(Genap)
Genap[2] = 99 #bakal error
print(Genap)
Genap.append(12) #error
print(Genap)
Genap.remove(11)
print(Genap)

(2, 4, 6, 8, 10)

TypeError: ignored

In [ ]:
#Cek Tipe Data
print(type(Ganjil))
print(type(Genap))

<class 'list'>
<class 'tuple'>

In [ ]:
#Buat tahu apa aja yang bisa dilakuin sama tipe data ini
Genap = (2,4,6,8,10) #tidak bisa diubah dan ditambah nilainya
print('Tuple = ', Genap)
print('Tipe Data = ', type(Genap))
print(dir(Genap))

Tuple =  (2, 4, 6, 8, 10)
Tipe Data =  <class 'tuple'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

Tuple hanya bisa menerapkan function `'count'`, dan `'index'` saja. Selain itu, tuple hanya bisa mengakses elemen saja dengan metode slicing. Tapi, tidak bisa menghapus, mengubah, atau menambahkan elemen.

In [ ]:
#Mengakses elemen dalam mulitidimensional list dalam tuple
contoh_tuple2 = ([1,3,5,7,9],[2,4,6,8,10])
print(contoh_tuple2[0][3])

7

## **Fitur .count()**

In [ ]:
# Fitur .count()
print(">>> Fitur .count()")
tuple_score = ('Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud')
score_budi = tuple_score.count('Budi')
score_sud = tuple_score.count('Sud')
print('Jumlah Kemunculan kata "Budi" = ', score_budi) 
print('Jumlah Kemunculan kata "Sud" = ', score_sud)

>>> Fitur .count()
Jumlah Kemunculan kata "Budi" =  4
Jumlah Kemunculan kata "Sud" =  3

## **Fitur .index()**

In [ ]:
# Fitur .index()
print(">>> Fitur .index()")
tuple_score = ('Budi','Sud','Budi','Budi','Budi','Sud','Sud')
score_pertama_sud = tuple_score.index('Sud')+1
print("Kata 'Sud' berada di data ke-", score_pertama_sud)

barisan = [1,2,3,4,5]
print(barisan[-2])

>>> Fitur .index()
Kata 'Sud' berada di data ke- 2
4

# **Set**

Set itu dalam matematika sama saja dengan konsep himpunan.

Karakteristik himpunan:
1. tidak punya urutan, urutannya random karena gak penting urutannya mau gimana juga
2. data2 yang sama akan dianggep satu data

In [ ]:
contoh_list = ['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
print("Contoh List = ", contoh_list)

contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'}
print("Contoh Set = ", contoh_set)

contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'})
print('Contoh Frozenset = ', contoh_frozen_set)

Contoh List =  ['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
Contoh Set =  {'Dewi', 'Cici', 'Budi', 'Linda'}
Contoh Frozenset =  {'Dewi', 'Cici', 'Budi', 'Linda'}

In [ ]:
superhero = {'wiro sablenng',
             'si buta dari gua hantu',
             'saras 008', 
             'gundala',
             'gatot kaca'}
superhero.add('mak lampir')
superhero.add('gundala') #gundala akan tetep satu jumlahnya

print(superhero)

{'saras 008', 'si buta dari gua hantu', 'gundala', 'gatot kaca', 'mak lampir', 'wiro sablenng'}

In [ ]:
avenger = set()
avenger.add('thor')
avenger.add('hulk')
avenger.add('hawkeye')
avenger.add('black widow')
avenger.add('ironman')
avenger.add('captain america')

print(avenger)

{'hawkeye', 'hulk', 'ironman', 'black widow', 'captain america', 'thor'}

Kalau ingin diurutkan berdasarkan abjad

In [ ]:
print(sorted(avenger))

['black widow', 'captain america', 'hawkeye', 'hulk', 'ironman', 'thor']

Set tidak bisa gunain index atau pengen tau data ke-n. karena urutan gak penting. dia bakal error

In [ ]:
print(avenger[2])
print(avenger.index('black widow'))

TypeError: ignored

# **Manipulasi Set**

## **Fitur .add()**

In [ ]:
# Fitur .add()
print("\n>>> Fitur .add()")
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.add('Melon')
print(set_buah)

>>> Fitur .add()
{'Anggur', 'Apel', 'Melon', 'Jeruk'}

## **Fitur .clear()**

In [ ]:
# Fitur .clear()
print("\n>>> Fitur .clear()")
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.clear()
print(set_buah)

>>> Fitur .clear()
set()

## **Fitur .copy()**

In [ ]:
# Fitur .copy()
#Tanpa copy
print("\n>>> Fitur .copy()")
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah2 = set_buah1
set_buah2.add('Melon')
print('Buah2 = ', set_buah2)
print('Buah1 = ', set_buah1)
#Dengan copy
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah3 = set_buah1.copy()
set_buah3.add('Kiwi')
print('Buah3 = ', set_buah3)
print('Buah1 = ', set_buah1)

>>> Fitur .copy()
Buah2 =  {'Anggur', 'Apel', 'Melon', 'Jeruk'}
Buah1 =  {'Anggur', 'Apel', 'Melon', 'Jeruk'}
Buah3 =  {'Anggur', 'Apel', 'Kiwi', 'Jeruk'}
Buah1 =  {'Anggur', 'Apel', 'Jeruk'}

## **Fitur .update()**

In [ ]:
#Fitur .update()
print("\n>>> Fitur .update()")
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel1.update(parcel2)
print(parcel1)

>>> Fitur .update()
{'Anggur', 'Apel', 'Kiwi', 'Melon', 'Jeruk'}

## **Fitur .pop()**

In [ ]:
# Fitur .pop()
print("\n>>> Fitur .pop()")
parcel = {'Anggur','Apel','Jeruk'}
buah = parcel.pop()
print('buah yang dihilangkan: ', buah)
print('Parcel = ', parcel)

>>> Fitur .pop()
buah yang dihilangkan:  Anggur
Parcel =  {'Apel', 'Jeruk'}

## **Fitur .remove()**

In [ ]:
# Fitur .remove()
print("\n>>> Fitur .remove()")
parcel = {'Anggur','Apel','Jeruk'}
print('Parcel Sebelum = ', parcel)
parcel.remove('Apel')
print('Parcel Sesudah = ', parcel)

>>> Fitur .remove()
Parcel Sebelum =  {'Anggur', 'Apel', 'Jeruk'}
Parcel Sesudah =  {'Anggur', 'Jeruk'}

## **Fitur .union()**

In [ ]:
# Fitur .union()
print("\n>>> Fitur .union()")
parcel1 = {'Anggur','Apel','Jeruk'}
print("parcel1 = ", parcel1)
parcel2 = {'Apel','Kiwi','Melon'}
parcel3 = parcel1.union(parcel2)
print("parcel3 = ", parcel3)
print("parcel1 = ", parcel1)

>>> Fitur .union()
parcel1 =  {'Anggur', 'Apel', 'Jeruk'}
parcel3 =  {'Anggur', 'Apel', 'Kiwi', 'Melon', 'Jeruk'}
parcel1 =  {'Anggur', 'Apel', 'Jeruk'}

## **Fitur .isdisjoint()**

In [ ]:
# Fitur .isdisjoint()
print("\n>>> Fitur .isdisjoint()")
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Kiwi','Melon','Pisang'}
parcel3 = {'Apel','Srikaya','Semangka'}
parcel1_parcel2_disjoint = parcel1.isdisjoint(parcel2)
print('is disjoint parcel 1 2 = ', parcel1_parcel2_disjoint)
parcel1_parcel3_disjoint = parcel1.isdisjoint(parcel3)
print('is disjoint parcel 1 3 = ', parcel1_parcel3_disjoint)

>>> Fitur .isdisjoint()
is disjoint parcel 1 2 =  True
is disjoint parcel 1 3 =  False

## **Fitur .issubset()**

In [ ]:
# Fitur .issubset()
print("\n>>> Fitur .issubset()")
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_A_dalam_C = parcel_A.issubset(parcel_C)
parcel_B_dalam_C = parcel_B.issubset(parcel_C)
print('Parcel A dalam C = ', parcel_A_dalam_C)
print('Parcel B dalam C = ', parcel_B_dalam_C)

>>> Fitur .issubset()
Parcel A dalam C =  True
Parcel B dalam C =  False

## **Fitur .issuperset()**

In [ ]:
# Fitur .issuperset()
print("\n>>> Fitur .issuperset()")
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_C_mengandung_A = parcel_C.issuperset(parcel_A)
parcel_C_mengandung_B = parcel_C.issuperset(parcel_B)
print('Parcel C mengandung A =', parcel_C_mengandung_A)
print('Parcel C mengandung B =', parcel_C_mengandung_B)

>>> Fitur .issuperset()
Parcel C mengandung A = True
Parcel C mengandung B = False

## **Fitur .union()**

In [ ]:
# Fitur .union()
print("\n>>> Fitur .union()")
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel3 = parcel1.union(parcel2)
print("Parcel 1 = ", parcel1)
print("Parcel Hasil Gabungan 1 2 = ", parcel3)

>>> Fitur .union()
Parcel 1 =  {'Anggur', 'Apel', 'Jeruk'}
Parcel Hasil Gabungan 1 2 =  {'Anggur', 'Apel', 'Kiwi', 'Melon', 'Jeruk'}

## **Fitur .isdisjoint()**

In [ ]:
# Fitur .isdisjoint()
print("\n>>> Fitur .isdisjoint()")
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Kiwi','Melon','Pisang'}
parcel3 = {'Apel','Srikaya','Semangka'}
parcel1_parcel2_disjoint = parcel1.isdisjoint(parcel2)
print("Apakah Parcel 1 dan 2 tidak saaling berhubungan? ", parcel1_parcel2_disjoint)
parcel1_parcel3_disjoint = parcel1.isdisjoint(parcel3)
print("Apakah Parcel 1 dan 3 tidak saaling berhubungan? ", parcel1_parcel3_disjoint)

>>> Fitur .isdisjoint()
Apakah Parcel 1 dan 2 tidak saaling berhubungan?  True
Apakah Parcel 1 dan 3 tidak saaling berhubungan?  False

## **Fitur .issubset()**

In [ ]:
# Fitur .issubset()
print("\n>>> Fitur .issubset()")
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_A_dalam_C = parcel_A.issubset(parcel_C)
parcel_B_dalam_C = parcel_B.issubset(parcel_C)
print("Apakah ada elemen Parcel A dalam Parcel C juga?\n", parcel_A_dalam_C)
print("Apakah ada elemen Parcel B dalam Parcel C juga?\n", parcel_B_dalam_C)

>>> Fitur .issubset()
Apakah ada elemen Parcel A dalam Parcel C juga?
 True
Apakah ada elemen Parcel B dalam Parcel C juga?
 False

## **Fitur .issuperset()**

In [ ]:
# Fitur .issuperset()
print("\n>>> Fitur .issuperset()")
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_C_mengandung_A = parcel_C.issuperset(parcel_A)
parcel_C_mengandung_B = parcel_C.issuperset(parcel_B)
print("Apakah seluruh Parcel A berada di Parcel C?\n", parcel_C_mengandung_A)
print("Apakah seluruh Parcel B berada di Parcel C?\n", parcel_C_mengandung_B)

>>> Fitur .issuperset()
Apakah seluruh Parcel A berada di Parcel C?
 True
Apakah seluruh Parcel B berada di Parcel C?
 False

## **Fitur .intersection()**

In [ ]:
# Fitur .intersection()
print("\n>>> Fitur .intersection()")
parcel_A = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel', 'Jeruk', 'Semangka', 'Durian', 'Tomat'}
parcel_C = parcel_A.intersection(parcel_B)
print("Elemen yang juga ada di Parcel A dan B\n", parcel_C)

>>> Fitur .intersection()
Elemen yang juga ada di Parcel A dan B
 {'Apel', 'Jeruk'}

## **Fitur .difference()**

In [ ]:
# Fitur .difference()
print("\n>>> Fitur .difference()")
parcel_A = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel', 'Jeruk', 'Semangka', 'Durian', 'Tomat'}
parcel_C = parcel_A.intersection(parcel_B)
parcel_C = parcel_A.difference(parcel_B)
print("Elemen yang tidak ada di Parcel A juga Parcel B\n", parcel_C)

>>> Fitur .difference()
Elemen yang tidak ada di Parcel A juga Parcel B
 {'Anggur', 'Melon', 'Kiwi'}

## **Fitur .symmetric_difference()**

In [ ]:
# Fitur .symmetric_difference()
print("\n>>> Fitur .symmetric_difference()")
parcel_A = {'Anggur', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel','Jeruk','Semangka','Leci'}
parcel_C = parcel_A.symmetric_difference(parcel_B)
print("Elemen dari Parcel A yang tidak ada di Parcel B\ndigabung\n Elemen dari Parcel B yang tidak ada di Parcel A\n", parcel_C)

>>> Fitur .symmetric_difference()
Elemen dari Parcel A yang tidak ada di Parcel B
digabung
 Elemen dari Parcel B yang tidak ada di Parcel A
 {'Anggur', 'Melon', 'Leci', 'Semangka'}

# **Konversi Data dari List ke Tuple atau sebaliknya**

In [ ]:
# Tuple
print("\n>>> Tuple")
tuple_menu = ('Gado-gado','Ayam Goreng','Rendang','Ketoprak')
jumlah_menu = len(tuple_menu)
print("Jumlah Elemen Data Tuple = ", jumlah_menu)

# List
print("\n>>> List")
list_menu = ['Gado-gado','Ayam Goreng','Rendang','Ketoprak']
jumlah_menu = len(list_menu)
print("Jumlah Elemen Data List = ", jumlah_menu)

>>> Tuple
Jumlah Elemen Data Tuple =  4

>>> List
Jumlah Elemen Data List =  4

In [ ]:
# Konversi tipe data
list_buah = ['Apel', 'Apel', 'Jeruk', 'Markisa', 'Jeruk', 'Markisa', 'Apel']
set_buah = set(list_buah)
print("Konversi List ke Set:\n", set_buah)

list_buah = list(set_buah)
list_buah.sort()
print("\nKonversi Set ke List lalu diurutkan:\n", list_buah)

Konversi List ke Set:
 {'Markisa', 'Apel', 'Jeruk'}

Konversi Set ke List lalu diurutkan:
 ['Apel', 'Jeruk', 'Markisa']

# **Dictionary**

In [ ]:
person = {'nama' : 'Diko Hary Adhanto', 'pekerjaan' : 'Data Analyst'}
print('Nama      : ', person['nama'])
print('Pekerjaan : ', person['pekerjaan'])

In [ ]:
member1 = {
           'ID'        : '101',
           'Nama'      : 'Diko Hary Adhanto',
           'Pekerjaan' :'Mahasiswa',
           'Status'    : 'Aktif'
          }

#Bikin Member List
member2 = {
           'ID'        : '102',
           'Nama'      : 'Lailatul Qomariah',
           'Pekerjaan' :'Mahasiswa',
           'Status'    : 'Aktif'
          }

memberlist = {101:member1,102:member2}
print(memberlist[101])

{'ID': '101', 'Nama': 'Diko Hary Adhanto', 'Pekerjaan': 'Mahasiswa', 'Status': 'Aktif'}

## **Latihan**

In [ ]:
#tipe data dic
Sepatu = {"Nama Barang" : "Sepatu Niko", "Harga" : 150000, "Diskon" : 30000}
Baju   = {"Nama Barang" : "Baju Unikloh", "Harga" : 80000, "Diskon" : 8000}
Celana = {"Nama Barang" : "Celana Lepis", "Harga" : 200000, "Diskon" : 60000}

#tipe data list
Daftar_Belanja = [Sepatu, Baju, Celana]

#harga masing-masing barang setelah dikurangi diskon
Harga_Sepatu = Sepatu["Harga"] - Sepatu["Diskon"]
Harga_Baju   = Baju["Harga"] - Baju["Diskon"]
Harga_Celana = Celana["Harga"] - Celana["Diskon"] 

# Harga Total
Harga_Total = Harga_Sepatu + Harga_Celana + Harga_Baju
print("Total Biaya = ", Harga_Total)

# Harga kena pajak
Harga_Pajak = Harga_Total * 0.1
print("Biaya Pajak = ", Harga_Pajak)

#Harga Akhir
Harga_Akhir = Harga_Total + Harga_Pajak
print("Total Biaya (+Pajak) = ", Harga_Akhir)

Total Biaya =  332000
Biaya Pajak =  33200.0
Total Biaya (+Pajak) =  365200.0

# **Manipulasi Dictionary**

## **Fitur .clear()**

In [ ]:
# Fitur .clear()
print("\n>>> Fitur .clear()")
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
info_karyawan.clear()
print("Info Karyawan Clear = ", info_karyawan)

>>> Fitur .clear()
Info Karyawan Clear =  {}

## **Fitur .copy()**

In [ ]:
# Fitur .copy()
print("\n>>> Fitur .copy()")
info_karyawan1 = {
                  'nama'      : 'Aksara',
                  'nik'       : '1211011',
                  'pekerjaan' : 'Data Analyst'
                 }
info_karyawan2 = info_karyawan1.copy()
info_karyawan2['nama'] = 'Senja'
info_karyawan2['nik'] = '1211056'
print("Info Karyawan 1:\n", info_karyawan1)
print("Info Karyawan 2:\n", info_karyawan2)

>>> Fitur .copy()
Info Karyawan 1:
 {'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst'}
Info Karyawan 2:
 {'nama': 'Senja', 'nik': '1211056', 'pekerjaan': 'Data Analyst'}

## **Fitur .keys()**

In [ ]:
# Fitur .keys()
print("\n>>> Fitur .keys()")
info_karyawan = {
                 'nama'      : 'Aksara',
                 'nik'       : '1211011',
                 'pekerjaan' : 'Data Analyst'
                }
kunci_akses = list(info_karyawan.keys())
print("Keys:\n", kunci_akses)

>>> Fitur .keys()
Keys:
 ['nama', 'nik', 'pekerjaan']

## **Fitur .values()**

In [ ]:
# Fitur .values()
print("\n>>> Fitur .values()")
info_karyawan = {
                 'nama'      : 'Aksara',
                 'nik'       : '1211011',
                 'pekerjaan' : 'Data Analyst'
                }
value_dict = list(info_karyawan.values())
print("Values:\n", value_dict)

>>> Fitur .values()
Values:
 ['Aksara', '1211011', 'Data Analyst']

## **Fitur .update()**

In [ ]:
# Fitur .update()
print("\n>>> Fitur .update()")
info_karyawan = {
                 'nama'      : 'Aksara',
                 'nik'       : '1211011',
                 'pekerjaan' : 'Data Analyst'
                }
info_karyawan.update({'skillset': ['Python', 'R']})
print("Info Karyawan Update:\n", info_karyawan)

>>> Fitur .update()
Info Karyawan Update:
 {'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst', 'skillset': ['Python', 'R']}

## **Latihan Manipulasi Dictionary**

In [ ]:
# Data keuangan
keuangan = {
'pengeluaran': [2, 2.5, 2.25, 2.5, 3.2, 2.5, 3.5, 4, 3],
'pemasukan': [7.8, 7.5, 9, 7.6, 7.2, 7.5, 7, 10, 7.5]
}
# Perhitungan rata-rata pemasukan dan rata-rata pengeluaran
total_pengeluaran = 0
total_pemasukan = 0
for biaya in keuangan['pengeluaran']:
    total_pengeluaran += biaya
for biaya in keuangan['pemasukan']: 
    total_pemasukan += biaya
rata_rata_pengeluaran = total_pengeluaran/len(keuangan['pengeluaran']) 
rata_rata_pemasukan = total_pemasukan/len(keuangan['pemasukan'])
print("Rata-Rata Pengeluaran = ", rata_rata_pengeluaran) 
print("Rata-Rata Pemasukan   = ", rata_rata_pemasukan)

Rata-Rata Pengeluaran =  2.8277777777777775
Rata-Rata Pemasukan   =  7.8999999999999995

# **Operator Identitas**

In [ ]:
x = 10

print("x = ", x, type(x))
print("Apakah tipe data x adalah integer? ", type(x) is int)
print("Apakah tipe data x adalah bukan integer? ", type(x) is not int)

x =  10 <class 'int'>
Apakah tipe data x adalah integer?  True
Apakah tipe data x adalah bukan integer?  False

In [ ]:
Harga_Barang = 150000; Pajak = 0.1; Diskon = 0.3

#Cara 1
Harga_Bayar = 1 - Diskon
Harga_Bayar *= Harga_Barang
Harga_Bayar_Pajak = Harga_Bayar * Pajak
Harga_Bayar += Harga_Bayar_Pajak
print("Total Harga yang harus dibayar adalah Rp", Harga_Bayar)

Total Harga yang harus dibayar adalah Rp 115500.0

In [ ]:
Harga_Barang = 150000; Pajak = 0.1; Diskon = 0.3

#Cara 2 Alternatif
Harga_Bayar = (1 - Diskon) * Harga_Barang
Harga_Bayar += (Harga_Bayar * Pajak)
print("Total Harga yang harus dibayar adalah Rp", Harga_Bayar)

Total Harga yang harus dibayar adalah Rp 115500.0

In [ ]:
bilangan = (5 % 3 ** 2) + (3 + 2 * 2) * (4 - 2)
print("Hasil nilai bilangan = ", bilangan)

Hasil nilai bilangan =  19

# **Conditioning**

In [ ]:
x = 4
if x % 2 == 0: #jika sisa bagi x dengan 2 maka sama dengan 0
    print("x % 2 = ", x % 2)
    print("x habis dibagi 2")

x % 2 =  0
x habis dibagi 2

In [ ]:
x = 7
if x % 2 == 0: #jika sisa dibagi 2 maka nilai x sama dengan 0
    print("x habis dibagi 2")
elif x % 3 == 0: #jika sisa dibagi 3 maka nilai x sama dengan 0
    print("x habis dibagi 3")
elif x % 5 == 0: #jika sisa dibagi 5 maka nilai x sama dengan 0
    print("x habis dibagi 5")
else:
    print("x tidak habis dibagi 2, 3 dan 5")

x tidak habis dibagi 2, 3 dan 5

In [ ]:
IPK1 = 3.5

if IPK1 >= 3.0:
    print("IPK anda: ", IPK1, "(Lulus)") #Kalo nilai1 sesuai syarat if, maka dia akan mencetak
    if IPK1 >= 3.5:
        print("Anda Dinyatakan CumLaude")

IPK anda:  3.5 (Lulus)
Anda Dinyatakan CumLaude

In [ ]:
#Bisa juga pake is atau ==
if IPK1 is 3.5: #equal
    print("Nilai anda: ", IPK1)

In [ ]:
#Pake is not untuk menyatakan bukan
Budi = "Laki-Laki"
if Budi is not "Perempuan": #not equal
    print("Budi adalah Laki-Laki")

Budi adalah Laki-Laki

In [ ]:
#IF elif else
nilai = 34

if nilai >= 85:
    print("Nilai anda A")
elif 70 <= nilai < 85:
    print("Nilai anda B")
elif 65 <= nilai < 70:
    print("Nilai anda C")
elif 50 <= nilai < 65:
    print("Nilai anda T, Silahkan melakukan perbaikan")
else:
    print("Maaf, anda tidak lulus mata kuliah ini")

Maaf, anda tidak lulus mata kuliah ini

In [ ]:
#Cara mengecek nilai dalam list ada apa engga dengan if
print(" ")
Peserta_Lolos = ["Dewi", "Diko", "Ilham", "Aldi", "Fira"]
Nama = "Agiel"

if Nama in Peserta_Lolos:
    print(Nama, "dinyatakan lulus")
else:
    print(Nama, "dinyatakan tidak lulus")

Agiel dinyatakan tidak lulus

## **Latihan Conditioning**

In [ ]:
jam = 13
if jam >= 5 and jam < 12: # selama jam di antara 5 s.d. 12
    print("Selamat pagi!")
elif jam >= 12 and jam < 17: # selama jam di antara 12 s.d. 17
    print("Selamat siang!")
elif jam >= 17 and jam < 19: # selama jam di antara 17 s.d. 19
    print("Selamat sore!")
else: # selain kondisi di atas
    print("Selamat malam!")

Tagihan_Ke      = 'Mr. Yoyo'
Warehousing     = {'Harga_per_hari' : 1000000, 'Total_hari' : 15}
Cleansing       = {'Harga_per_hari' : 1500000, 'Total_hari' : 10}
Integration     = {'Harga_per_hari' : 2000000, 'Total_hari' : 15}
Transformation  = {'Harga_per_hari' : 2500000, 'Total_hari' : 10}
#Perhitungan sub Total
sub_Warehousing    = Warehousing['Harga_per_hari'] * Warehousing['Total_hari']
sub_Cleansing      = Cleansing['Harga_per_hari'] * Cleansing['Total_hari']
sub_Integration    = Integration['Harga_per_hari'] * Integration['Total_hari']
sub_Transformation = Transformation['Harga_per_hari'] * Transformation['Total_hari']
#Perhitungan Total Tagihan
Total_Tagihan = sub_Warehousing + sub_Cleansing + sub_Integration + sub_Transformation
print("Kepada, ", Tagihan_Ke)

Jam = 17
if jam > 19:
    print("Selamat malam, anda harus membayar tagihan sebesar: Rp", Total_Tagihan)
elif jam > 17:
    print("Selamat sore, anda harus membayar tagihan sebesar: Rp", Total_Tagihan)
elif jam > 12:
    print("Selamat siang, anda harus membayar tagihan sebesar: Rp", Total_Tagihan)
else:
    print("Selamat pagi, anda harus membayar tagihan sebesar: Rp", Total_Tagihan)

Selamat siang!
Kepada,  Mr. Yoyo
Selamat siang, anda harus membayar tagihan sebesar: Rp 85000000

# **Looping**

Jika tidak menggunakan looping dalam pemrograman Python, maka akan kerepotan dalam menuliskan kode karena tidak otomatis dilakukan.

In [ ]:
# Tagihan
tagihan = [50000, 75000, 125000, 300000, 200000]

## Tidak menggunakan looping
total_tagihan = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3] + tagihan[4]
print("Total Tagihan Pak Budi adalah Rp", total_tagihan)

Total Tagihan Pak Budi adalah Rp 750000

## **For Loop**

In [ ]:
# menggunakan for_loop
list_tagihan = [50000, 75000, 125000, 300000, 200000]
for tagihan in list_tagihan:
    print(tagihan)

50000
75000
125000
300000
200000

### **List Sebagai Iterable**

In [ ]:
# list sebagai iterable
gorengan = ['bakwan', 'cireng', 'tahu isi', 'tahu goreng', 'pisang goreng', 'tempe goreng', 'ubi goreng', 'risol']
for g in gorengan:
    print('\n', g)
    print('panjang kata = ', len(g)) #masing-masing konten list bakal diukur berapa jumlah katanya

 bakwan
panjang kata =  6

 cireng
panjang kata =  6

 tahu isi
panjang kata =  8

 tahu goreng
panjang kata =  11

 pisang goreng
panjang kata =  13

 tempe goreng
panjang kata =  12

 ubi goreng
panjang kata =  10

 risol
panjang kata =  5

### **String Sebagai Iterable**

In [ ]:
# string sebagai iterable
gorengan = 'bakwan'
for g in gorengan:
    print(g)
print('panjang kata = ', len(gorengan))

b
a
k
w
a
n
panjang kata =  6

### **Nested Loop**

In [ ]:
# for di dalam for
gorengan       = ['bakwan', 'cireng', 'tahu isi', 'tahu goreng', 'pisang goreng', 'tempe goreng', 'ubi goreng', 'risol']
buah           = ['semangka', 'jeruk', 'apel', 'anggur', 'durian']
sayuran        = ['kangkung', 'bayam', 'wortel', 'tomat', 'kentang']

daftar_belanja = [gorengan, buah, sayuran]
print("Daftar Belanja:", daftar_belanja)

for subdaftarbelanja in daftar_belanja:
    print('\n', subdaftarbelanja)
    for komponen in subdaftarbelanja:
        print("- ", komponen)

Daftar Belanja: [['bakwan', 'cireng', 'tahu isi', 'tahu goreng', 'pisang goreng', 'tempe goreng', 'ubi goreng', 'risol'], ['semangka', 'jeruk', 'apel', 'anggur', 'durian'], ['kangkung', 'bayam', 'wortel', 'tomat', 'kentang']]

 ['bakwan', 'cireng', 'tahu isi', 'tahu goreng', 'pisang goreng', 'tempe goreng', 'ubi goreng', 'risol']
-  bakwan
-  cireng
-  tahu isi
-  tahu goreng
-  pisang goreng
-  tempe goreng
-  ubi goreng
-  risol

 ['semangka', 'jeruk', 'apel', 'anggur', 'durian']
-  semangka
-  jeruk
-  apel
-  anggur
-  durian

 ['kangkung', 'bayam', 'wortel', 'tomat', 'kentang']
-  kangkung
-  bayam
-  wortel
-  tomat
-  kentang

In [ ]:
#Nested Loops
list_daerah = ['Malang', 'Palembang', 'Medan']
list_buah = ['Apel', 'Duku', 'Jeruk']
for nama_daerah in list_daerah:
    for nama_buah in list_buah:
        print(nama_buah + " " + nama_daerah)

Apel Malang
Duku Malang
Jeruk Malang
Apel Palembang
Duku Palembang
Jeruk Palembang
Apel Medan
Duku Medan
Jeruk Medan

### **Range**

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

### **Break**

Misal ingin mencari angka 25, jika menyentuh 25, maka kita ingin ada pemberitahuan kalau angka 25 sudah ditemukan

In [ ]:
for i in range (1,41):
    print(i)
    if i is 25: #nandain kalo angka yg dicari ketemu
        print(i, "==> angka ditemukan")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
25 ==> angka ditemukan
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

Namun, bagaimana jika kita inginnya ketika sudah mencapai angka 25 dan pemberitahuan angka ditemukan muncul, proses looping dihentikan. Maka kita bisa menggunakan `Break`

In [ ]:
for i in range (1,41):
    print(i)
    if i is 25: #nandain kalo angka yg dicari ketemu
        print(i, "==> angka ditemukan")
        break #beda sama yg sebelumnya, kalo angkanya dah ketemu. gak lanjut looping lagi

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
25 ==> angka ditemukan

In [ ]:
#Break
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0
for tagihan in list_tagihan:
    if tagihan < 0:
        print("terdapat angka minus dalam tagihan, perhitungan dihentikan!")
        break
    total_tagihan += tagihan
print("Total Tagihan anda adalah ", total_tagihan)

terdapat angka minus dalam tagihan, perhitungan dihentikan!
Total Tagihan anda adalah  125000

### **Else**

Memakai contoh kasus sebelumnya, bagaimana jika kita inginnya proses loopingnya beres dulu baru dikasih keterangan kalo nilainya berhasil ditemukan. Kita bisa menambahkan `else` yang sejajar dengan `for` dalam identasinya

In [ ]:
for i in range (1,23):
    print(i)
    if i is 25:
        print(i, "==> angka ditemukan")
        break
else: #ditaro sejajar dengan for biar klo kita pengen loopingnya beres dulu baru kasih keterangan kalo nilainya gak ketemu
    print("angka tidak ditemukan")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
angka tidak ditemukan

### **Continue**

Berbeda dengan Break, ketika angka berhasil ditemukan. Proses looping akan terus dilakukan hingga selesai

In [ ]:
for i in range(1, 11):
    print("nilai saat ini adalah ", i)
    if i is 7:
        print("nilainya adalah ", i)
        continue #continue itu lebih ke naikin keatas loop setelah angkanya ketemu/melanjutkan looping
        print("cekk woyy") #bahkan perintah ini dilewat setelah continue
else:
    print('akhir dari loop')

print('print diluar loop')

nilai saat ini adalah  1
nilai saat ini adalah  2
nilai saat ini adalah  3
nilai saat ini adalah  4
nilai saat ini adalah  5
nilai saat ini adalah  6
nilai saat ini adalah  7
nilainya adalah  7
nilai saat ini adalah  8
nilai saat ini adalah  9
nilai saat ini adalah  10
akhir dari loop
print diluar loop

### **Pass**

`Pass` tidak memiliki fungsi apapun kecuali hanya sekedar sebagai kata kunci kosong untuk mengkonstruksi loop supaya dapat berjalan.

In [ ]:
## PASS
for i in range(1, 11):
    print("nilai saat ini adalah ", i)
    if i is 7:
        print("nilainya adalah ", i)
        pass #tidak memiliki fungsi apapun. fungsinya cuman sebagai kata kunci kosong untuk mengkonstruksi loop
        print("cekk woyy")
else:
    print('akhir dari loop')

print('print diluar loop')

nilai saat ini adalah  1
nilai saat ini adalah  2
nilai saat ini adalah  3
nilai saat ini adalah  4
nilai saat ini adalah  5
nilai saat ini adalah  6
nilai saat ini adalah  7
nilainya adalah  7
cekk woyy
nilai saat ini adalah  8
nilai saat ini adalah  9
nilai saat ini adalah  10
akhir dari loop
print diluar loop

## **Teknik Looping**

In [ ]:
# teknik looping
namaband      = [
                 'payung teduh', 
                 'fourtwnty',
                 'Dialog dini hari',
                 'Mr. Sanjaya',
                 'Parahyena'
                ]

kumpulan_lagu = [
                 'Akad',
                 'Zona Nyaman',
                 'Rumah Kuning',
                 'Sang Filsuf',
                 'Sindoro'
                ]

iterasi = 0
for band in namaband:
    print('no.', iterasi,'.', band)
    iterasi += 1

no. 0 . payung teduh
no. 1 . fourtwnty
no. 2 . Dialog dini hari
no. 3 . Mr. Sanjaya
no. 4 . Parahyena

Tapi sangat tidak berguna dengan cara diatas, karena klo kita punya banyak looping terus mau ambil nomornya masa bikin lagi terus

### **Cara Alternatif: Menggunakan Enumerate**

In [ ]:
#alternatif: enumerate
for i, band in enumerate(namaband):
    print ('no.', i, '.', band) #enumerate akan mereturn dua nilai, indeksnya dan nilainya

no. 0 . payung teduh
no. 1 . fourtwnty
no. 2 . Dialog dini hari
no. 3 . Mr. Sanjaya
no. 4 . Parahyena

### **ZIP**

Dua list itu dipasang2in, korespondensinya satu2 dan harus linear, kalo beda jumlah datanya, yg gak berpasangan gak bakal ditampilin

In [ ]:
# zip
for band, lagu in zip(namaband, kumpulan_lagu): #
    print(band, 'akan menyanyikan lagu yang berjudul', lagu)

payung teduh akan menyanyikan lagu yang berjudul Akad
fourtwnty akan menyanyikan lagu yang berjudul Zona Nyaman
Dialog dini hari akan menyanyikan lagu yang berjudul Rumah Kuning
Mr. Sanjaya akan menyanyikan lagu yang berjudul Sang Filsuf
Parahyena akan menyanyikan lagu yang berjudul Sindoro

### **Set**

In [ ]:
# set
playlist = {
            'baby-baby', 
            'ada apa dengan cinta', 
            'cenat-cenut', 
            'jaran goyang'
           }

for lagu in sorted(playlist):
    print(lagu)

ada apa dengan cinta
baby-baby
cenat-cenut
jaran goyang

### **Dictionary**

In [ ]:
#Dictionary
playlist2      = {
                 'payung teduh':'Akad', 
                 'fourtwnty':'Zona Nyaman',
                 'Dialog dini hari':'Rumah Kuning',
                 'Mr. Sanjaya':'Sang Filsuf',
                 'Parahyena': 'Sindoro'
                 }

for i in playlist2.keys():
    print(i)

payung teduh
fourtwnty
Dialog dini hari
Mr. Sanjaya
Parahyena

In [ ]:
for i in playlist2.values():
    print(i)

Akad
Zona Nyaman
Rumah Kuning
Sang Filsuf
Sindoro

In [ ]:
for i in playlist2.items():
    print(i)

('payung teduh', 'Akad')
('fourtwnty', 'Zona Nyaman')
('Dialog dini hari', 'Rumah Kuning')
('Mr. Sanjaya', 'Sang Filsuf')
('Parahyena', 'Sindoro')

## **While Looping**

In [ ]:
angka = 0

while angka < 5: #saat argumen ini bernilai benar (bool) atau terpenuhi syaratnya
    print("nilai angka adalah", angka) #maka statemen ini akan terus dilaksanakan
    angka += 1 #biar gak terjadi infinite looping, maka perlu didefinisikan sampe mencapai batas syarat yang ditentukan
print("diluar while")

nilai angka adalah 0
nilai angka adalah 1
nilai angka adalah 2
nilai angka adalah 3
nilai angka adalah 4
diluar while

In [ ]:
# Tagihan
tagihan = [50000, 75000, 125000, 300000, 200000]

## menggunakan while_loop
i = 0 #sebuah variabel untuk mengakses setiap elemen tagihan satu per satu
jumlah_tagihan = len(tagihan) #panjang (jumlah elemen dalam) list tagihan

total_tagihan = 0 #mula-mula, set total_tagihan ke 0
while i < jumlah_tagihan: #selama nilai i kurang dari jumlah_tagihan
    total_tagihan += tagihan[i] #tambahkan tagihan[i] ke total_tagihan
    i += 1 #tambahkan nilai i dengan 1 untuk memproses tagihan selanjutnya.
print("Total Tagihan anda adalah ", total_tagihan)

Total Tagihan anda adalah  750000

### **IF**

In [ ]:
# IF
start = True
angka = 0
while start:
    print("ini di dalam while")
    if angka is 100:
        start = False #jangan lupa didefinisikan jadi nilainya buat false
        print("angka 100 berhasil ditemukan")
    angka += 1 #ini juga, definisikan looping ditambah satu biar gak infinite looping

ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
ini di dalam while
angka 100 berhasil ditemukan

### **Else**

In [ ]:
# Else
angka = 0

while angka < 5: #saat argumen ini bernilai benar (bool) atau terpenuhi syaratnya
    print("nilai angka adalah", angka) #maka statemen ini akan terus dilaksanakan
    angka += 1 #biar gak terjadi infinite looping, maka perlu didefinisikan sampe mencapai batas syarat yang ditentukan
else:
    print("nilai akhir looping adalah ", angka)

nilai angka adalah 0
nilai angka adalah 1
nilai angka adalah 2
nilai angka adalah 3
nilai angka adalah 4
nilai akhir looping adalah  5

### **Break**

In [ ]:
# BREAK
angka = 0

while angka < 10: #saat argumen ini bernilai benar (bool) atau terpenuhi syaratnya
    if angka is 5:
        print("nilai angka 5 diketemukan")
        break
    print("nilai angka adalah", angka) #maka statemen ini akan terus dilaksanakan
    angka += 1 #biar gak terjadi infinite looping, maka perlu didefinisikan sampe mencapai batas syarat yang ditentukan
else:
    print("nilai akhir looping adalah ", angka)
print("di luar looping")

nilai angka adalah 0
nilai angka adalah 1
nilai angka adalah 2
nilai angka adalah 3
nilai angka adalah 4
nilai angka 5 diketemukan
di luar looping

In [ ]:
# CONTINUE
angka = 0
while angka < 10: #saat argumen ini bernilai benar (bool) atau terpenuhi syaratnya
    if angka is 5:
        print("angka 5 diketemukan")
        angka += 1 #biar gak terjadi infinite looping, maka perlu didefinisikan sampe mencapai batas syarat yang ditentukan. 
        #Harus ditaro sebelum continue
        continue
    print("nilai angka adalah", angka) #maka statemen ini akan terus dilaksanakan
    angka +=1
else:
    print("nilai akhir looping adalah ", angka)
print("di luar looping")

nilai angka adalah 0
nilai angka adalah 1
nilai angka adalah 2
nilai angka adalah 3
nilai angka adalah 4
angka 5 diketemukan
nilai angka adalah 6
nilai angka adalah 7
nilai angka adalah 8
nilai angka adalah 9
nilai akhir looping adalah  10
di luar looping

## **Latihan Looping 1**

In [ ]:
list_cash_flow = [
2500000, 5000000, -1000000, -2500000, 5000000, 10000000,
-5000000, 7500000, 10000000, -1500000, 25000000, -2500000
]
total_pengeluaran, total_pemasukan = 0, 0
for dana in list_cash_flow:
    if dana > 0:
        total_pemasukan += dana
    else:
        total_pengeluaran += dana
total_pengeluaran *= -1
print(total_pengeluaran) 
print(total_pemasukan)

12500000
65000000

## **Latihan Looping 2**

In [ ]:
# Data
uang_jalan = 1500000
jumlah_hari = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]
# Pengecekan kendaraan dengan nomor pelat ganjil atau genap 
# Deklarasikan kendaraan_genap dan kendaraan_ganjil = 0
kendaraan_genap = 0 
kendaraan_ganjil = 0
for plat_nomor in list_plat_nomor:
    if plat_nomor % 2 == 0:
        kendaraan_genap += 1
    else:
        kendaraan_ganjil += 1
print('Jumlah kendaraan ganjil :', kendaraan_ganjil)
print('Jumlah kendaraan genap :', kendaraan_genap)
# Total pengeluaran untuk kendaraan dengan nomor pelat ganjil 
# dan genap dalam 1 bulan
i = 1
total_pengeluaran = 0
while i <= jumlah_hari:
    if i % 2 == 0:
        total_pengeluaran += (kendaraan_genap * uang_jalan)
    else:
        total_pengeluaran += (kendaraan_ganjil * uang_jalan)  
    i += 1
# Cetak total pengeluaran
print('Total Pengeluaran :', total_pengeluaran)

Jumlah kendaraan ganjil : 4
Jumlah kendaraan genap : 3
Total Pengeluaran : 163500000

# **Manipulasi String**

In [ ]:
nama_produk = "Sepatu Niko"
nama_produk = nama_produk[:2] + "P" + nama_produk[3:9] + "K" + nama_produk[-1]
print("Nama Produk = ", nama_produk)
print("Nama Produk Urutan Kata 0 - 7 = ", nama_produk[:7])
print("Nama Produk Urutan Kata 7 - (Akhir) = ", nama_produk[7:])
print("Jumlah Kata dari Nama Produk = ", len(nama_produk))

Nama Produk =  SePatu NiKo
Nama Produk Urutan Kata 0 - 7 =  SePatu
Nama Produk Urutan Kata 7 - (Akhir) =  NiKo
Jumlah Kata dari Nama Produk =  11

## **Operator "+" Untuk Tipe Data String**

In [ ]:
# Operator + untuk Tipe Data String
nama_depan = 'John'
nama_belakang = 'Doee'
nama_lengkap = nama_depan + ' ' + nama_belakang
print("Nama Lengkap = ", nama_lengkap)
umur = '27 tahun'
alamat = 'Jl. Anggrek No. 100'
nama_umur_alamat = 'Hi, saya ' + nama_lengkap + ' umur ' + umur + ', tinggal di ' + alamat + '.'
print("Profil Saya:\n", nama_umur_alamat)

Nama Lengkap =  John Doee
Profil Saya:
 Hi, saya John Doee umur 27 tahun, tinggal di Jl. Anggrek No. 100.

## **Menghitung Panjang Dari String**

In [ ]:
panjang = len(nama_lengkap)
print('Jumlah karakter dari', nama_lengkap, 'adalah', str(panjang))

Jumlah karakter dari John Doee adalah 9

## **Mengecek apakah ada komponen char atau string di string**

In [ ]:
d = 'D'
status = d in nama_lengkap
print('Huruf D ada di', nama_lengkap, ' = ', str(status))

d = 'D'
status = d not in nama_lengkap
print('Huruf D tidak ada di', nama_lengkap, ' = ', str(status))

Huruf D ada di John Doee  =  True
Huruf D tidak ada di John Doee  =  False

## **Mengulang string**

In [ ]:
print('wk'*10)

wkwkwkwkwkwkwkwkwkwk

## **Indexing**

In [ ]:
print('index ke-0 : ' + nama_lengkap[0])
print('index ke-1 : ' + nama_lengkap[1])
print('index ke-6 : ' + nama_lengkap[6])
print('index ke-(-1) : ' + nama_lengkap[-1])
print('index ke-(-2) : ' + nama_lengkap[-2])
print('index ke-(0, 3) : ' + nama_lengkap[0:4])
print('index ke-(0, -4) : ' + nama_lengkap[0:-4])
print('index ke-(:4) : ' + nama_lengkap[:4])
print('index ke-(2,4,6,8,10) : ' + nama_lengkap[0:11:2])

index ke-0 : J
index ke-1 : o
index ke-6 : o
index ke-(-1) : e
index ke-(-2) : e
index ke-(0, 3) : John
index ke-(0, -4) : John
index ke-(:4) : John
index ke-(2,4,6,8,10) : Jh oe

## **Menentukan Urutan (Indexing) String Terbesar atau Terkecil**

In [ ]:
# item paling kecil
print('paling kecil : ', min(nama_lengkap))
# item paling besar
print('paling besar : ', max(nama_lengkap))

paling kecil :
paling besar :  o

## **Menghilangkan Kelebihan Spasi**

In [ ]:
# Fitur .strip() ==> menghilangkan kelebihan spasi di awal dan tengah
print(">>> Fitur .strip()")
kata_sambutan = ' halo, selamat siang!  '
kata_sambutan = kata_sambutan.strip()
print(kata_sambutan)

>>> Fitur .strip()
halo, selamat siang!

In [ ]:
# Fitur .lstrip() ==> menghilangkan kelebihan spasi di awal
kata_sambutan = ' halo, selamat siang!  '
kata_sambutan = kata_sambutan.lstrip()
print(kata_sambutan)

halo, selamat siang!

In [ ]:
# Fitur .rstrip() ==> menghilangkan kelebihan spasi di akhir
kata_sambutan = ' halo, selamat siang!  '
kata_sambutan = kata_sambutan.rstrip()
print(kata_sambutan)

 halo, selamat siang!

## **Mengubah Caps Pada String**

In [ ]:
# Fitur .capitalize() ==> ngubah elemen pertama jadi kapital
print("\n>>> Fitur .capitalize()")
judul_buku = 'belajar bahasa Python'
print(judul_buku.capitalize())

>>> Fitur .capitalize()
Belajar bahasa python

In [ ]:
# Fitur .lower() ==> ngubah semuanya jadi huruf kecil
judul_buku = 'Belajar Bahasa PYTHON.'
print(judul_buku.lower())

belajar bahasa python.

In [ ]:
# Fitur .upper() ==> ngubah semuanya jadi huruf besar
judul_buku = 'Belajar Bahasa PYTHON.'
print(judul_buku.upper())

BELAJAR BAHASA PYTHON.

## **Mengubah String Menjadi List**

In [ ]:
# Fitur .split() ==> ngubah string jadi list
print("\n>>> Fitur .split()")
bilangan = "ani dan budi dan wati dan johan"
karakter = bilangan.split("dan")
print("Karakter: ", karakter)
kata = bilangan.split(" ")
print("Kata:", kata)

>>> Fitur .split()
Karakter:  ['ani ', ' budi ', ' wati ', ' johan']
Kata: ['ani', 'dan', 'budi', 'dan', 'wati', 'dan', 'johan']

In [ ]:
# Fitur .join() ==> gabung list menjadi kalimat (string) dengan pemisah
print("\n>>> Fitur .join()")
pemisah = " dan "
karakter = ["Ricky", "Peter", "Jordan"]
kalimat = pemisah.join(karakter)
print("Kalimat: ", kalimat)

>>> Fitur .join()
Kalimat:  Ricky dan Peter dan Jordan

## **Mencari dan Mengubah Kata Tertentu**

In [ ]:
# Fitur .find()
teks = "Apel malang adalah apel termanis dibanding apel-apel lainnya"
print("Kata Apel muncul mulai di urutan kata ke-", teks.find("Apel"))
print("Kata 'malang' muncul mulai di urutan kata ke-", teks.find("malang"))

Kata Apel muncul mulai di urutan kata ke- 0
Kata 'malang' muncul mulai di urutan kata ke- 5

In [ ]:
# Fitur .replace() ==> mengubah kata tertentu menjadi kata yang lain
kalimat = "apel malang apel yang paling segar, apel sehat, apel nikmat"
kalimat = kalimat.replace("apel", "jeruk")
print("Kalimat:\n", kalimat)

Kalimat:
 jeruk malang jeruk yang paling segar, jeruk sehat, jeruk nikmat

## **Menghitung Jumlah Kemunculan Kata Tertentu**

In [ ]:
# Fitur .count()
teks = "Apel malang adalah apel termanis dibanding apel-apel lainnya"
kemunculan_kata_apel = teks.count("apel")
print("Jumlah Kata 'Apel' Muncul = ", kemunculan_kata_apel)

Jumlah Kata 'Apel' Muncul =  3

## **Menentukan String Apakah Diawal/Diakhir Oleh Sub-String**

In [ ]:
# Fitur .startswith()
teks = "Apel malang adalah apel termanis dibanding apel-apel lainnya"
print("Apakah text diawali dengan kata 'Apel'?", teks.startswith("Apel"))
print("Apakah text diawali dengan kata 'apel'?", teks.startswith("apel"))

Apakah text diawali dengan kata 'Apel'? True
Apakah text diawali dengan kata 'apel'? False

In [ ]:
# Fitur .endswith()
print("Apakah text diakhiri dengan kata 'lainnya'?", teks.endswith("lainnya"))
print("Apakah text diakhiri dengan kata 'apel'?", teks.endswith("apel"))

Apakah text diakhiri dengan kata 'lainnya'? True
Apakah text diakhiri dengan kata 'apel'? False

# **Fungsi**

In [ ]:
# Definisikan fungsi
def contoh_fungsi():
    print("Halo Dunia")
    print("Aku sedang belajar bahasa Python")

# Panggil fungsi yang telah didefinisikan
contoh_fungsi()

Halo Dunia
Aku sedang belajar bahasa Python

## **Mendefinisikan Fungsi Dengan Argumen**

In [ ]:
# Definsikan fungsi dengan argumen
def fungsi_dengan_argumen(nama_depan, nama_belakang):
    print(nama_depan+" "+nama_belakang) 

# Panggil fungsi dengan memasukkan argumen
# nama_depan yaitu "John" dan nama_belakang "Doe"
fungsi_dengan_argumen("John", "Doe")

John Doe

## **Mendefinisikan Fungsi Dengan Nilai Default Argument Kedua Adalah " "**

In [ ]:
# Definsikan fungsi dengan nilai default argument kedua adalah "".
def fungsi_dengan_argumen(nama_depan, nama_belakang = ""):
	print(nama_depan+" "+nama_belakang)

# Panggil fungsi dengan memasukkan argumen nama_depan "John"
fungsi_dengan_argumen("John")

# Panggil fungsi dengan memasukkan argumen
# nama_depan yaitu "John" dan nama_belakang "Doe"
fungsi_dengan_argumen("John", "Doe")

John
John Doe

## **Latihan Fungsi**

In [ ]:
# Dua buah data yang tersimpan dalam tipe list
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]

# Definisikan fungsi hitng_rata_rata
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata

# Hitung nilai rata-rata dari kedua data yang dimiliki
print('Rata-rata data1:')
print(hitung_rata_rata(data1))
print('Rata-rata data2:')
print(hitung_rata_rata(data2))

Rata-rata data1:
105.0
Rata-rata data2:
73.0

In [ ]:
# Dua buah data yang tersimpan dalam tipe list
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150]
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90]

# Fungsi rata-rata data
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata

# Definisikan fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
    rata_rata_data = hitung_rata_rata(data)
    varians = 0
    for item in data:
        varians += (item - rata_rata_data) ** 2
    varians /= len(data)
    standar_deviasi = varians ** (1/2)
    return standar_deviasi

# Hitung nilai standar deviasi dari kedua data yang dimiliki
print('Standar deviasi data1:')
print(hitung_standar_deviasi(data1))
print('Standar deviasi data2:')
print(hitung_standar_deviasi(data2))

Standar deviasi data1:
28.722813232690143
Standar deviasi data2:
17.916472867168917

## **Latihan Fungsi 2**

In [ ]:
# Data properti
tabel_properti = {
'luas_tanah': [70, 70, 70, 100, 100, 100, 120, 120, 150, 150],
'luas_bangunan': [50, 60, 60, 50, 70, 70, 100, 80, 100, 90],
'jarak': [15, 30, 55, 30, 25, 50, 20, 50, 50, 15],
'harga': [500, 400, 300, 700, 1000, 650, 2000, 1200, 1800, 3000]
}
 
# Fungsi rata-rata data
def hitung_rata_rata(data):
    jumlah = 0
    for item in data:
        jumlah += item
    rata_rata = jumlah/len(data)
    return rata_rata
 
# Fungsi hitung_standar_deviasi
def hitung_standar_deviasi(data):
    rata_rata_data = hitung_rata_rata(data)
    varians = 0
    for item in data:
        varians += (item - rata_rata_data) ** 2
        varians /= len(data)
    standar_deviasi = varians ** (1/2)
    return standar_deviasi
 
# Definisikan fungsi untuk menghitung rata-rata dan standar deviasi
# setiap kolom pada tabel_properti yang diberikan oleh key dict.
def deskripsi_properti(tabel):
    for key in tabel.keys():
        print('Rata-rata ' + key + ':')
        print(hitung_rata_rata(tabel[key])) 
        print('Standar deviasi ' + key + ':')
        print(hitung_standar_deviasi(tabel[key]))
        print('')
 
# Panggil fungsi deskripsi_properti untuk menghitung rata-rata 
# dan standar deviasi setiap kolom pada tabel_properti
deskripsi_properti(tabel_properti)

Rata-rata luas_tanah:
105.0
Standar deviasi luas_tanah:
14.93311056335886

Rata-rata luas_bangunan:
73.0
Standar deviasi luas_bangunan:
6.025948374480153

Rata-rata jarak:
34.0
Standar deviasi jarak:
6.24005184770928

Rata-rata harga:
1155.0
Standar deviasi harga:
587.0594351517378

# **Import Module**

Kalau kita punya program yang didefinisikan dalam bentuk function dan disimpan dalam satu file, maka kita bisa menyebutnya module

In [ ]:
data = 'apa kabar?'

def cek_modul():
    print('Haloo bro')

print("ini adalah module saya")

ini adalah module saya

Ketika kumpulan kode diatas disimpan dalam sebuah file, misal dalam format `.py`, maka kita bisa menggunakan function yang diterapkan di file tersebut

In [ ]:
import modul

print(modul.data)

modul.cek_modul()

**Contoh Lain:**

In [ ]:
def tambah(a,b):
    print('Fungsi Tambah')
    print(a,"+",b,"=", a + b)

def kurang(a,b):
    print('Fungsi Kurang')
    print(a,"-",b,"=", a - b)

tambah(3,4)
kurang(4,3)

Simpan dengan nama `matematika_modul2.py`, kemudian kita import module diatas

In [ ]:
import matematika_modul2 as math #buat ganti nama panggilan pake as

math.tambah(7,1)
math.kurang(7,1)

#Kita bisa mengimport hanya spesifik fungsinya ajah
from matematika_modul2 import tambah, kurang #buat ngambil fungsi sebagian

tambah(3,4)
kurang(4,1)

from matematika_modul2 import * #ini buat ambil fungsi semuanya

from matematika_modul2 import tambah as t 
t(4,5)

# **Package**

Package adalah kumpulan dari module

**Contoh:**

In [ ]:
from Sains import matematika_module as matematika #Sains itu foldernya. Folder Sains adalah package 
from Sains import fisika_module as fisika

matematika.tambah(3,4)

Kita bisa menganggap `Sains` sama seperti `matematika` dan `fisika`. Dianggap sebagai module tapi sebenarnya dia itu package

Kalau kita import `Sains`, dia akan dieksekusi sebagai `__init__.py`

Apa kegunaannya? Bagaimana caranya import `Sains` ini kita bisa mengakses semua yang ada di `matematika`, dan `fisika` dalam folder `Sains` lebih mudah. Caranya:

In [ ]:
from Sains import tambah
tambah(3,4)

from Sains import waktu_tempuh
waktu_tempuh(60,120)

In [ ]:
#contoh gunain package, kita bisa pake package built in di python
import math
print(math.cos(3.14))

-0.9999987317275395

# **Input Output File**

## **Membuat File Text**

In [ ]:
file = open("data.txt", '(mode)') #pertama nama filenya, kedua nama modenya

- Mode 1: Write mode (w)/ mode menulis dan menghapus file lama, jika file tidak ada maka file akan dibuat baru
- Mode 2: read mode only (r)/ hanya bisa baca doank
- Mode 3: appending mode (a)/ menambahkan data di akhir baris
- Mode 4: write and read mode

In [ ]:
# membuat file text
file = open("data.txt", 'w')
file.write("ini adalah data text yang dibuat oleh python")
file.write("\nini baris kedua")
file.write("\nini baris ketiga")
file.write("\nini baris keempat")
file.write("\nini baris kelima")
file.close()

Jangan lupa harus selalu di close, karena kalo gak ditutup. bisa jadi gak bakal ke save dan bisa jadi bakal kegantung

## **Membaca File Text**

In [ ]:
# membaca file text
file2 = open("data.txt", 'r')
print(file2.read())
#Gak usah di close, karena cuman read doank
file2.close()

ini adalah data text yang dibuat oleh python
ini baris kedua
ini baris ketiga
ini baris keempat
ini baris kelima

In [ ]:
# membaca file text
file2 = open("data.txt", 'r')
print(file2.read(10)) #cuman nampilin 10 karakter ajah
file2.close()

ini adalah

In [ ]:
# membaca file text
file2 = open("data.txt", 'r')
print(file2.readline())
file2.close()

ini adalah data text yang dibuat oleh python

In [ ]:
# membaca file text
file2 = open("data.txt", 'r')
print(file2.readline())
print(file2.readline()) #kalo pengen baca baris yang selanjutnya, bikin lagi baris selanjutnya dibawah
file2.close()

ini adalah data text yang dibuat oleh python

ini baris kedua

## **Appending Mode**

In [ ]:
# appending mode
file3 = open("data.txt", 'a')
file3.write("\nini baris yang dibuat pake mode append")
file3.close()

In [ ]:
 # membaca file text
file2 = open("data.txt", 'r')
print(file2.read())
#Gak usah di close, karena cuman read doank
file2.close()

ini adalah data text yang dibuat oleh python
ini baris kedua
ini baris ketiga
ini baris keempat
ini baris kelima
ini baris yang dibuat pake mode append
ini baris yang dibuat pake mode append

# **Install Package**

Basic Tutorial install package
1. `pip install` (package)
2. `pip list --format=columns`
3. `python --version`
4. `pip uninstall` (package)

# **Try & Exception**

Tipe2 exception error:
- IOError ==> untuk input output. kalo misal kita buka file terus ada errornya. mengetahui kalo misal ada corrupted file
- ImportError ==> misal gaada package di server kita
- ValueError
- ZeroDivisionError
- KeyboardInterupted
- EDFError
- TypeError

## **Syntax Error**

In [ ]:
print(nama saya Diko) #Syntax Error. Kesalahan kode atau fungsi

SyntaxError: ignored

## **Value Error**

In [ ]:
angka = int(input("masukan angka sembarang\n")) #Kalo dimasukkin bukan angka, bakal jadi ValueError
print(angka)

masukan angka sembarang
diko

ValueError: ignored

## **Zero Division Error**

In [ ]:
def pembagian (a,b):
    return a/b

Penyebut = int(input("Masukkan Angka Penyebut\n"))
Pembilang = int(input("Masukkan Angka Pembilang?\n")) #Kalo misal dimasukkin 0, maka terjadi ZeroDivisionError

print(pembagian(Penyebut,Pembilang)) #TypeError. Error rantai, kesalahan tipe data. harus dikonversi

Masukkan Angka Penyebut
12
Masukkan Angka Pembilang?
0

ZeroDivisionError: ignored

Error berbahaya kalo kita bikin program. Kenapa berbahaya?
karna kalo ada error di tengah2 program, program kita langsung close

Misal kita ada looping, tiba-tiba ada error di tengah-tengah proses

Bagaimana caranya kita mengabaikan error dan terus lanjut?
ada namanya try and exception

In [ ]:
#Try and Exception
try:
    a = 1/0
except:
    print("error pembagi nol")

print("Akhir dari Program")

error pembagi nol
Akhir dari Program

In [ ]:
#Contoh lain
while True:
    try:
        penyebut = int(input("Masukkan Penyebut:\n"))
        pembilang = int(input("Masukkan Pembilang:\n"))
        hasil = penyebut/pembilang
        break
    except ValueError:
        print("Yang anda masukkan bukan angka")
    except ZeroDivisionError:
        print("Angka pembilang yang anda masukan adalah 0")

print("Hasil Pembagian dari", penyebut, "dan", pembilang, "adalah: ", hasil)

Masukkan Penyebut:
12
Masukkan Pembilang:
0
Angka pembilang yang anda masukan adalah 0
Masukkan Penyebut:
12
Masukkan Pembilang:
12
Hasil Pembagian dari 12 dan 12 adalah:  1.0

Jadi ada 3 cara:
1. except ajah, tanpa tau jenis errornya apa. print keterangan tertentu
2. except (Jenis Error), buat ngasih keterangan pada jenis error tertentu
3. except Exception as err:
`print(err)`

# **Virtual Environment**

Cara Membuat Virtual Environment:
- `python -m venv` (project1) ==> Dibikin dulu virtual environment nyq sebelum bikin project
- `dir` ==> ngecek project 1 nya udah ada apa belom
- `project1\Scripts\activate.bat` ==> mengaktivasi virtual environment
- `deactivate` ==> keluar dari virtual environment
- Kalau mau ganti virtual environment di VSCode ==> `Ctrl + Shift + P` ==> Python: Select Interpreter ==> pilih interpreternya
- `CD` (nama interpreter) ==> pindah environment
`venv\Scripts\activate.bat`

Migrasi ke Environment Lain:
- `pip freeze --local` > `requirement.txt` ==> migrasi ke virtual environment ke cloud server. taro semua yg ada dienvironment satu ke lain
- `ls` ==> list 
- `deactivate`
- `cd ../Environment/` ==> pindah ke environment
- `source project/bin/activate`
- copy requirement environment ke environment lain
- `pip install -r requirement.txt` ==> menginstall requirement ke server kita semua projeknya install packagenya sesuai versinya
- `pip list --format=columns`